<style>
  .desposit_table{
    font-size:12px;
    font-weight:bolder;
    color:black;
  }
  .desposit_table_title{
   font-weight:bolder;
   text-align:right;
   color:#666666;
   width:100px;
  }
  .desposit_table_value{
    
  }
</style>
<div>
<table class="desposit_table">
   <tr>
      <td class="desposit_table_title">创建时间:</td>
      <td style="width:130px">${rd.date(dpay.create_date,'MM/dd HH:mm:ss')}</td>
      <td class="desposit_table_title">认领用户名:</td>
      <td style="width:100px">${dpay.login_name}</td>
      
   </tr>
    <tr>
      <td class="desposit_table_title">存款金额:</td>
      <td style="color:red">${dpay.amount}</td>
      <td class="desposit_table_title">红利:</td>
      <td style="color:red">${dpay.poundage}</td>
     
   </tr>
    <tr>
      <td class="desposit_table_title">支付帐号:</td>
      <td>${dpay.pay_card_name}</td>
      <td class="desposit_table_title">收款帐号:</td>
      <td>${dpay.receiving_account_name}</td>
     
   </tr>
    <tr>
      <td class="desposit_table_title">认领申请人:</td>
      <td>${dpay.action_user2}</td>
      <td class="desposit_table_title">申请时间:</td>
      <td>${rd.date(dpay.claim_date2,'MM/dd HH:mm:ss')}</td>
     
   </tr>
   <tr>
      <td class="desposit_table_title">审核人:</td>
      <td>${dpay.action_user}</td>
      <td class="desposit_table_title">审核时间:</td>
      <td>${rd.date(dpay.claim_date,'MM/dd HH:mm:ss')}</td>
     
   </tr>
   <tr>
      <td class="desposit_table_title">通道:</td>
      <td>${dpay.channel}</td>
      <td class="desposit_table_title">地区:</td>
      <td>${dpay.area}</td>
     
   </tr>
   <tr>
      <td class="desposit_table_title">收款银行:</td>
      <td>${dpay.receiving_bank}</td>
      <td class="desposit_table_title">银行备注:</td>
      <td>${dpay.note}</td>
     
   </tr>
   <tr>
      <td class="desposit_table_title">备注:</td>
      <td colspan="4">${dpay.remark}</td>
   </tr>
   
   #{if dpay.pic_id!=null}
      #{if dpay.pic_id!=0}
	   <tr>
	      <td class="desposit_table_title">截图信息:</td>
	      <td colspan="5"><a target="_blank" href="/DpayDepositExpApp/showPic?id=${dpay.pic_id}">点击查看</a></td>
	   </tr>
     #{/if}
   #{/if}
   #{if dpay.pic2_id!=null}
      #{if dpay.pic2_id!=0}
	   <tr>
	      <td class="desposit_table_title">截图信息:</td>
	      <td colspan="5"><a target="_blank" href="/DpayDepositExpApp/showPic?id=${dpay.pic2_id}">点击查看</a></td>
	   </tr>
     #{/if}
   #{/if}
</table>
</div>
<div>

</div>