#{extends '/templates/8da.html' /} 
#{set title:'网银、ATM、柜台、手机存款提交结果 -八达国际官网（8dabet.com）- 八达博天下' /}
#{set keywords:'网银、ATM、柜台、手机存款，八达国际'/} 
#{set description:''/} 
<div id="wrapper"> 
<div class="UserCenter">
           #{include '/templates/user_left.html'/}  		
		    <div class="UserRight">            	
               <fieldset>
	                <legend>网银、ATM、柜台、手机存款提交结果</legend>
	                 <div>
				           <span>恭喜您，您的存款已经提交成功，请等待系统审核为您添加额度！</span>
				     </div>	
				     <div style="text-align:center">
                         <a href="/deposit_list.php" class="buttom02" style="padding:0">存款列表</a>
                     </div>
               </fieldset>
            </div>
            #{include '/templates/user_info.html' /}      
</div>                           
</div>