#{extends '/templates/8da.html' /} 
#{set title:'在线支付确认 -八达国际官网（8dabet.com）- 八达博天下' /}
#{set keywords:'在线支付确认 ，八达国际'/} 
#{set description:''/} 
#{set cust_nav_li:'cust_1_2'/}
<script>
function aa(){
	$("#submit_btn").attr("disabled","disabled");
}
function copyData(id){
	window.clipboardData.setData("Text", $('#'+id).innerHtml);  
	alert('复制成功！');  
}

</script>
<style>
           #deposit_bank_table .first_td{
              width:160px;
              text-align:right;
              color:#ffff00;
            }
            
            #deposit_bank_table .sencond_td{
              width:200px;
              text-align:left;
              color:#ffff00;
            }
            
            #deposit_bank_table .three_td{
              width:200px;
              text-align:left;
            }

</style>
<div id="wrapper"> 
<div class="UserCenter">
           #{include '/templates/user_left.html'/}  		
		    <div class="UserRight">   
		    
		    
             
             #{if tongdao=='6'}
              #{if barCode==''}
               		<fieldset>
	               <legend>请求失败</legend>
				   <form name="dinpayForm" method="post"  target="_blank">
					
					<table style="margin-top:20px">
					   
				        <tr>
               	<td class="first_td">温馨提示:</td>
               	<td class="sencond_td">该支付通道繁忙,请稍后尝试或更换其他微信支付通道</td>
                   
               </tr>
                 
				          
				        <tr>
				        	<td colspan="2">
				        	     <input name="button" type="button" class="buttom02" value="返回修改" style="margin-left:15px;" onclick="window.location.href='/choose_qq_form.php'"/>
				        	</td>
				        </tr>                                                                                                                                                                 
				    </table>
	
	</form>
	</fieldset>
             #{/if}
             #{else}
             	<script src="#{mb.static '/public/js/jquery.qrcode.js' /}" type="text/javascript"></script>
			 <script src="#{mb.static '/public/js/qrcode.js' /}" type="text/javascript"></script>
            <script type="text/javascript">
       $(document).ready(function(){

	   $("#qrcodeTable").qrcode({
		 render	: "canvas",
		 text	: '${barCode.raw()}',
		 width:"200",
		 height:"200"
	   });	
	
	});
</script>
		     <fieldset>
	               <legend>订单确认</legend>
				   <form name="dinpayForm" method="post"  target="_blank">
					
					<table style="margin-top:20px">
					   <tr>
				        	<td width="25%">订单单号</td>
				        	<td width="25%" style="text-align:left"><span>${result.get('pay_id')}</span></td>
				        </tr>
				    	<tr>
				        	<td>存款金额</td>
				        	<td style="text-align:left"><span>${result.get('amount')}  元</span></td>
				        </tr>
				        
				        <tr>
               	<td class="first_td">二维码<br/>(请用手机QQ扫一扫功能扫描该二维码)</td>
               	<td class="sencond_td"><div id="qrcodeTable"></div></td>
                   
               </tr>
                 
				          
				        <tr>
				        	<td colspan="2">
				        	     <input name="button" type="button" class="buttom02" value="返回修改" style="margin-left:15px;" onclick="window.location.href='/choose_qq_form.php'"/>
				        	</td>
				        </tr>                                                                                                                                                                 
				    </table>
	
	</form>
	</fieldset>
             
             #{/else}
             #{/if}
             
             #{if tongdao=='xinbei'}
             	<fieldset>
	                <legend>冲值确认信息</legend>
	            <form id="payBillForm" action="${result.get('submit_value')}" method="post" onsubmit="return sa('b_submit')">      	
		    <table id="deposit_bank_table">  

               <tr style="border-top:3px solid #f00">
               	<td class="first_td">订单号</td>
               	<td class="sencond_td">${result.get('order_id')}</td>
               	<td class="three_td"></td>
               </tr>
      		   <tr style="border-bottom:3px solid #f00">
               	<td class="first_td">金额</td>
               	<td class="sencond_td">${result.get('order_amount')}</td>
               	<td class="three_td">
               		<input type="hidden" name="message" value="${result.get('message')}"/>
	                <input type="hidden" name="SignValue" value="${result.get('signMsg')}"/>
	                <input type="hidden" name="Version" value="${result.get('version')}"/>
	                <input type="hidden" name="Amount" value="${result.get('order_amount')}"/>
	                <input type="hidden" name="OrderId" value="${result.get('order_id')}"/>
	                <input type="hidden" name="OrderDate" value="${result.get('OrderDate')}"/>
	                <input type="hidden" name="MerchantCode" value="${result.get('MerchantsID')}"/>
	                <input type="hidden" name="TradeIp" value="${result.get('payip')}"/>
	                <input type="hidden" name="PayCode" value="${result.get('bank')}"/>
	                <input type="hidden" name="SynNotifyUrl" value="${result.get('synNotifyUrl')}"/>
	                <input type="hidden" name="AsyNotifyUrl" value="${result.get('asyNotifyUrl')}"/>
	                <input id="submit_btn" name="submit_btn" type="submit"  class="buttom02" value="前往支付">
               	</td>
               </tr>
           
                <tr>
               	<td colspan="3" style="text-align:left;">
               	    <p> 请再30分钟内完成充值，系统将30分钟后关闭该订单。</p>
               	</td>
                </tr> 
                                                                                                                                                                                 
                    </table>
                     </form>
              </fieldset>
             #{/if}
             
              #{if tongdao=='gaotong'} 
		     <fieldset>
	                <legend>冲值确认信息</legend>
	            <form id="payBillForm" action="${result.get('submit_value')}" method="post" onsubmit="return sa('b_submit')">      	
		    <table id="deposit_bank_table">  

               <tr style="border-top:3px solid #f00">
               	<td class="first_td">订单号</td>
               	<td class="sencond_td">${result.get('order_id')}</td>
               	<td class="three_td"></td>
               </tr>
      		   <tr style="border-bottom:3px solid #f00">
               	<td class="first_td">金额</td>
               	<td class="sencond_td">${result.get('order_amount')}</td>
               	<td class="three_td">
               		<input type="hidden" name="message" value="${result.get('message')}"/>
	                <input type="hidden" name="signMsg" value="${result.get('signMsg')}"/>
	                <input type="hidden" name="order_amount" value="${result.get('order_amount')}"/>
	                <input type="hidden" name="ordernumber" value="${result.get('order_id')}"/>
	                <input type="hidden" name="banktype" value="${result.get('paytype')}"/>
	                <input type="hidden" name="attach" value="${result.get('attach')}"/>
	                <input type="hidden" name="partnerID" value="${result.get('partnerID')}"/>
	                <input type="hidden" name="return_value" value="${result.get('return_value')}"/>
	                <input type="hidden" name="notify_value" value="${result.get('notify_value')}"/>
	                <input id="submit_btn" name="submit_btn" type="submit"  class="buttom02" value="前往支付">
               	</td>
               </tr>
           
                <tr>
               	<td colspan="3" style="text-align:left;">
               	    <p> 请再30分钟内完成充值，系统将30分钟后关闭该订单。</p>
               	</td>
                </tr> 
                                                                                                                                                                                 
                    </table>
                     </form>
              </fieldset>  
             #{/if}
             
             
             
             #{if tongdao=='saomafu'}
              #{if barCode==''}
               		<fieldset>
	               <legend>请求失败</legend>
				   <form name="dinpayForm" method="post"  target="_blank">
					
					<table style="margin-top:20px">
					   
				        <tr>
               	<td class="first_td">温馨提示:</td>
               	<td class="sencond_td">该支付通道繁忙,请稍后尝试或更换其他微信支付通道</td>
                   
               </tr>
                 
				          
				        <tr>
				        	<td colspan="2">
				        	     <input name="button" type="button" class="buttom02" value="返回修改" style="margin-left:15px;" onclick="window.location.href='/choose_qq_form.php'"/>
				        	</td>
				        </tr>                                                                                                                                                                 
				    </table>
	
	</form>
	</fieldset>
             #{/if}
             #{else}
             	<script src="#{mb.static '/public/js/jquery.qrcode.js' /}" type="text/javascript"></script>
			 <script src="#{mb.static '/public/js/qrcode.js' /}" type="text/javascript"></script>
            <script type="text/javascript">
       $(document).ready(function(){

	   $("#qrcodeTable").qrcode({
		 render	: "canvas",
		 text	: '${barCode.raw()}',
		 width:"200",
		 height:"200"
	   });	
	
	});
</script>
		     <fieldset>
	               <legend>订单确认</legend>
				   <form name="dinpayForm" method="post"  target="_blank">
					
					<table style="margin-top:20px">
					   <tr>
				        	<td width="25%">订单单号</td>
				        	<td width="25%" style="text-align:left"><span>${result.get('pay_id')}</span></td>
				        </tr>
				    	<tr>
				        	<td><font  color="red">(该金额会与您实际输入有稍微浮动<br/>请以该显示金额为准,谢谢)</font></td>
				        	<td style="text-align:left"><span>${result.get('amount')}  元</span></td>
				        </tr>
				        
				        <tr>
               	<td class="first_td">二维码<br/>(请用手机QQ扫一扫功能扫描该二维码)</td>
               	<td class="sencond_td"><div id="qrcodeTable"></div></td>
                   
               </tr>
                 
				          
				        <tr>
				        	<td colspan="2">
				        	     <input name="button" type="button" class="buttom02" value="返回修改" style="margin-left:15px;" onclick="window.location.href='/choose_qq_form.php'"/>
				        	</td>
				        </tr>                                                                                                                                                                 
				    </table>
	
	</form>
	</fieldset>
             
             #{/else}
             #{/if}
             
             
             #{if tongdao=='dingyi'} 
		     <fieldset>
	               <legend>订单确认</legend>
				   <form name="dinpayForm" method="post"  target="_blank">
					
					<table style="margin-top:20px">
					   <tr>
				        	<td width="25%">订单单号</td>
				        	<td width="25%" style="text-align:left"><span>${result.get('pay_id')}</span></td>
				        </tr>
				    	<tr>
				        	<td>存款金额</td>
				        	<td style="text-align:left"><span>${result.get('amount')}   元</span></td>
				        </tr>
				        
				        <tr>
               </tr>
				        <tr>
				        	<td colspan="2">
				        	     <input name="Submit" type="button" class="buttom02" value="前往支付" style="margin-left:15px;" onclick="$(this).hide();window.open('${result.directurl}')"/>
				        	     <input name="button" type="button" class="buttom02" value="返回修改" style="margin-left:15px;" onclick="window.location.href= '/choose_qq_form.php'"/>
				        	</td>
				        </tr>                                                                                                                                                                 
				    </table>
	
	</form>
	</fieldset> 
             #{/if}
             
             
             #{if tongdao=='4'}
             	<fieldset>
	                <legend>冲值确认信息</legend>
	            <form id="payBillForm" action="${result.get('submit_value')}" method="post" onsubmit="return sa('b_submit')">      	
		    <table id="deposit_bank_table">  

               <tr style="border-top:3px solid #f00">
               	<td class="first_td">订单号</td>
               	<td class="sencond_td">${result.get('orderid')}</td>
               	<td class="three_td"></td>
               </tr>
      		   <tr style="border-bottom:3px solid #f00">
               	<td class="first_td">金额</td>
               	<td class="sencond_td">${result.get('money')}</td>
               	<td class="three_td">
               		<input type="hidden" name="message" value="${result.get('message')}"/>
	                <input type="hidden" name="sign" value="${result.get('sign')}"/>
	                <input type="hidden" name="sign2" value="${result.get('sign2')}"/>
	                <input type="hidden" name="money" value="${result.get('money')}"/>
	                <input type="hidden" name="orderid" value="${result.get('orderid')}"/>
	                <input type="hidden" name="ext" value="${result.get('ext')}"/>
	                <input type="hidden" name="userid" value="${result.get('userid')}"/>
	                <input type="hidden" name="bankid" value="${result.get('bankid')}"/>
	                <input type="hidden" name="url" value="${result.get('url')}"/>
	                <input id="submit_btn" name="submit_btn" type="submit"  class="buttom02" value="前往支付">
               	</td>
               </tr>
           
                <tr>
               	<td colspan="3" style="text-align:left;">
               	    <p> 请再30分钟内完成充值，系统将30分钟后关闭该订单。</p>
               	</td>
                </tr> 
                                                                                                                                                                                 
                    </table>
                     </form>
              </fieldset>
             #{/if}
             
             
              #{if tongdao=='5'}
              #{if barCode==''}
               		<fieldset>
	               <legend>请求失败</legend>
				   <form name="dinpayForm" method="post"  target="_blank">
					
					<table style="margin-top:20px">
					   
				        <tr>
               	<td class="first_td">温馨提示:</td>
               	<td class="sencond_td">该支付通道繁忙,请稍后尝试或更换其他微信支付通道</td>
                   
               </tr>
                 
				          
				        <tr>
				        	<td colspan="2">
				        	     <input name="button" type="button" class="buttom02" value="返回修改" style="margin-left:15px;" onclick="window.location.href='/choose_qq_form.php'"/>
				        	</td>
				        </tr>                                                                                                                                                                 
				    </table>
	
	</form>
	</fieldset>
             #{/if}
             #{else}
             	
		     <fieldset>
	               <legend>订单确认</legend>
				   <form name="dinpayForm" method="post"  target="_blank">
					
					<table style="margin-top:20px">
					   <tr>
				        	<td width="25%">订单单号</td>
				        	<td width="25%" style="text-align:left"><span>${result.get('pay_id')}</span></td>
				        </tr>
				    	<tr>
				        	<td>存款金额</td>
				        	<td style="text-align:left"><span>${result.get('amount')}  元</span></td>
				        </tr>
				        
				        <tr>
               	<td class="first_td">二维码<br/>(请用手机QQ扫一扫功能扫描该二维码)</td>
               	<td class="sencond_td"><img alt="二维码" src="${barCode.raw()}" height ="200"  width="200" /></td>
                   
               </tr>
                 
				          
				        <tr>
				        	<td colspan="2">
				        	     <input name="button" type="button" class="buttom02" value="返回修改" style="margin-left:15px;" onclick="window.location.href='/choose_qq_form.php'"/>
				        	</td>
				        </tr>                                                                                                                                                                 
				    </table>
	
	</form>
	</fieldset>
             
             #{/else}
             #{/if}
             
             
              #{if tongdao=='7'}
              #{if barCode==''}
               		<fieldset>
	               <legend>请求失败</legend>
				   <form name="dinpayForm" method="post"  target="_blank">
					
					<table style="margin-top:20px">
					   
				        <tr>
               	<td class="first_td">温馨提示:</td>
               	<td class="sencond_td">该支付通道繁忙,请稍后尝试或更换其他微信支付通道</td>
                   
               </tr>
                 
				          
				        <tr>
				        	<td colspan="2">
				        	     <input name="button" type="button" class="buttom02" value="返回修改" style="margin-left:15px;" onclick="window.location.href='/choose_qq_form.php'"/>
				        	</td>
				        </tr>                                                                                                                                                                 
				    </table>
	
	</form>
	</fieldset>
             #{/if}
             #{else}
             	<script src="#{mb.static '/public/js/jquery.qrcode.js' /}" type="text/javascript"></script>
			 <script src="#{mb.static '/public/js/qrcode.js' /}" type="text/javascript"></script>
            <script type="text/javascript">
       $(document).ready(function(){

	   $("#qrcodeTable").qrcode({
		 render	: "canvas",
		 text	: '${barCode.raw()}',
		 width:"200",
		 height:"200"
	   });	
	
	});
</script>
		     <fieldset>
	               <legend>订单确认</legend>
				   <form name="dinpayForm" method="post"  target="_blank">
					
					<table style="margin-top:20px">
					   <tr>
				        	<td width="25%">订单单号</td>
				        	<td width="25%" style="text-align:left"><span>${result.get('pay_id')}</span></td>
				        </tr>
				    	<tr>
				        	<td>存款金额</td>
				        	<td style="text-align:left"><span>${result.get('amount')}  元</span></td>
				        </tr>
				        
				        <tr>
               	<td class="first_td">二维码<br/>(请用手机QQ扫一扫功能扫描该二维码)</td>
               	<td class="sencond_td"><div id="qrcodeTable"></div></td>
                   
               </tr>
                 
				          
				        <tr>
				        	<td colspan="2">
				        	     <input name="button" type="button" class="buttom02" value="返回修改" style="margin-left:15px;" onclick="window.location.href='/choose_qq_form.php'"/>
				        	</td>
				        </tr>                                                                                                                                                                 
				    </table>
	
	</form>
	</fieldset>
             
             #{/else}
             #{/if}
             
             
             #{if tongdao=='8'}
              #{if barCode==''}
               		<fieldset>
	               <legend>请求失败</legend>
				   <form name="dinpayForm" method="post"  target="_blank">
					
					<table style="margin-top:20px">
					   
				        <tr>
               	<td class="first_td">温馨提示:</td>
               	<td class="sencond_td">该支付通道繁忙,请稍后尝试或更换其他支付通道</td>
                   
               </tr>
                 
				          
				        <tr>
				        	<td colspan="2">
				        	     <input name="button" type="button" class="buttom02" value="返回修改" style="margin-left:15px;" onclick="window.location.href='/choose_qq_form.php'"/>
				        	</td>
				        </tr>                                                                                                                                                                 
				    </table>
	
	</form>
	</fieldset>
             #{/if}
             #{else}
             	<script src="#{mb.static '/public/js/jquery.qrcode.js' /}" type="text/javascript"></script>
			 <script src="#{mb.static '/public/js/qrcode.js' /}" type="text/javascript"></script>
            <script type="text/javascript">
       $(document).ready(function(){

	   $("#qrcodeTable").qrcode({
		 render	: "canvas",
		 text	: '${barCode.raw()}',
		 width:"200",
		 height:"200"
	   });	
	
	});
</script>
		     <fieldset>
	               <legend>订单确认</legend>
				   <form name="dinpayForm" method="post"  target="_blank">
					
					<table style="margin-top:20px">
					   <tr>
				        	<td width="25%">订单单号</td>
				        	<td width="25%" style="text-align:left"><span>${result.get('pay_id')}</span></td>
				        </tr>
				    	<tr>
				        	<td>存款金额</td>
				        	<td style="text-align:left"><span>${result.get('amount')}  元</span></td>
				        </tr>
				        
				        <tr>
               	<td class="first_td">二维码<br/>(请用手机QQ扫一扫功能扫描该二维码)</td>
               	<td class="sencond_td"><div id="qrcodeTable"></div></td>
                   
               </tr>
                 
				          
				        <tr>
				        	<td colspan="2">
				        	     <input name="button" type="button" class="buttom02" value="返回修改" style="margin-left:15px;" onclick="window.location.href='/choose_qq_form.php'"/>
				        	</td>
				        </tr>                                                                                                                                                                 
				    </table>
	
	</form>
	</fieldset>
             
             #{/else}
             #{/if}
               
                    
                #{if tongdao=='9'}
              #{if barCode==''}
               		<fieldset>
	               <legend>请求失败</legend>
				   <form name="dinpayForm" method="post"  target="_blank">
					
					<table style="margin-top:20px">
					   
				        <tr>
               	<td class="first_td">温馨提示:</td>
               	<td class="sencond_td">该支付通道繁忙,请稍后尝试或更换其他支付通道</td>
                   
               </tr>
                 
				          
				        <tr>
				        	<td colspan="2">
				        	     <input name="button" type="button" class="buttom02" value="返回修改" style="margin-left:15px;" onclick="window.location.href='/choose_qq_form.php'"/>
				        	</td>
				        </tr>                                                                                                                                                                 
				    </table>
	
	</form>
	</fieldset>
             #{/if}
             #{else}
             	<script src="#{mb.static '/public/js/jquery.qrcode.js' /}" type="text/javascript"></script>
			 <script src="#{mb.static '/public/js/qrcode.js' /}" type="text/javascript"></script>
            <script type="text/javascript">
       $(document).ready(function(){

	   $("#qrcodeTable").qrcode({
		 render	: "canvas",
		 text	: '${barCode.raw()}',
		 width:"200",
		 height:"200"
	   });	
	
	});
</script>
		     <fieldset>
	               <legend>订单确认</legend>
				   <form name="dinpayForm" method="post"  target="_blank">
					
					<table style="margin-top:20px">
					   <tr>
				        	<td width="25%">订单单号</td>
				        	<td width="25%" style="text-align:left"><span>${result.get('pay_id')}</span></td>
				        </tr>
				    	<tr>
				        	<td>存款金额</td>
				        	<td style="text-align:left"><span>${result.get('amount')}  元</span></td>
				        </tr>
				        
				        <tr>
               	<td class="first_td">二维码<br/>(请用手机QQ扫一扫功能扫描该二维码)</td>
               	<td class="sencond_td"><div id="qrcodeTable"></div></td>
                   
               </tr>
                 
				          
				        <tr>
				        	<td colspan="2">
				        	     <input name="button" type="button" class="buttom02" value="返回修改" style="margin-left:15px;" onclick="window.location.href='/choose_qq_form.php'"/>
				        	</td>
				        </tr>                                                                                                                                                                 
				    </table>
	
	</form>
	</fieldset>
             
             #{/else}
             #{/if}
            </div>
            
             #{include '/templates/user_info.html' /}
</div>                           
</div>

