#{extends '/templates/8da.html' /} 
#{set title:'密码修改成功 -八达国际官网（8dabet.com）- 八达博天下' /}
#{set keywords:'会员中心，八达国际'/} 
#{set description:''/} 
<div id="wrapper"> 
<div class="UserCenter">
           #{include '/templates/user_left.html'/}  		
		    <div class="UserRight">            	
               <fieldset>
	                <legend>修改密码</legend>
	                   <div>
				           <span>恭喜您，密码已成功修改！</span>
				       </div>	
               </fieldset>
            </div>
            #{include '/templates/user_info.html' /} 
</div>                           
</div>