#{extends '/templates/8da.html' /} 
#{set title:'快捷支付下单 -八达国际官网（8dabet.com）- 八达博天下' /}
#{set keywords:'快捷支付下单，八达国际'/} 
#{set description:''/} 
#{set cust_nav_li:'cust_1_2'/}
<script data-cfasync="false">
    function click_bank(td){
    	//$("input[name='bank']").removeAttr("checked");
    	$(td).children("input").attr("checked","checked");
    	$(td).siblings().children("input").removeAttr("checked");
    	$("#bank_span").html($(td).children("label").html());
    }


</script>
<div id="wrapper" class="MainWrap"> >
           #{include '/templates/user_left.html'/}  		
		    <div class="UserRight PayChan">          	
               <fieldset>
	                <legend>在线支付</legend>
	    
	         <form action="/deposit_hbpay_bank.php" method="post" autocomplete="off" onsubmit="return sa('a_submit')">
	         <div style="color:red">${errorMsg}</div>
         	<div>
            <label>存款金额：</label><input type="text" style="color:red;font-weight:bolder;font-size:20px" name="amount" value="${momey==null?'1000':momey}" 
            class="input"/><span style="color:#FFF; font-weight:normal">元</span>
            <input name="Submit" type="submit" class="buttom02" value="提交" style="margin-left:15px;"/>
            </div>
         	<div><label >温馨提示：</label> <span>单笔最低100元，最高5万,如果下面没有您要使用的银行,请选择银联支付,谢谢</span> </div>
         	<div><label >选择银行：</label><span id="bank_span" style="font-size:20px">中国工商银行</span></div>
         	<!-- 
        	<div style=" margin-bottom:10px;"><p> 温馨提示：如果您存款超过5000元，建议您采用网银转账，联系在线客服索要银行账号，我们会补偿您的手续费。</p></div>
            -->
          <div style=" height:auto;">      
          <table>
           <tr>
             <td onclick="click_bank(this)"><input type="radio" id="ICBC_bank" name="bank" value="ICBC" checked="checked"/>
                 <label id="ICBC_label" class="bank gongshang">中国工商银行</label>
             </td>										
			 
			 <td onclick="click_bank(this)"><input type="radio" id="PSBC_bank" name="bank" value="PSBC"/>
			      <label  id="PSBC_label"  class="bank youzhen">中国邮政</label>
			 </td>
			 
			 <td onclick="click_bank(this)"><input type="radio" id="CCB_bank" name="bank" value="CCB"/>
			      <label  id="ABC_label"  class="bank jianshe">中国建设银行</label>
			 </td>
			 
			 </tr>
             <tr>
			  <td onclick="click_bank(this)"><input type="radio" id="CEBB_bank" name="bank" value="CEB"/>
			      <label  id="CEBB_label"  class="bank guangda">中国光大银行</label>
			 </td>
			  
             	
             									
			 <td onclick="click_bank(this)"><input type="radio" id="BOC_bank" name="bank" value="BOC"/>
			      <label  id="BOC_label"  class="bank zhongguo">中国银行</label>
			 </td>
			 
			 <td onclick="click_bank(this)"><input type="radio" id="BCOM_BCOM" name="bank" value="BCOM"/>
                 <label id="BCOM_label" class="bank jiaotong">交通银行</label>
             </td>
             
			 </tr>
			 
			 
             <tr>
             
             
			 
			 <td onclick="click_bank(this)"><input type="radio" id="ABC_bank" name="bank" value="ABC" />
			      <label  id="ABC_label"  class="bank nongye">中国农业银行</label>
			 </td>
			 
			 
            
			 
			 <td onclick="click_bank(this)">
                <input type="radio" id="GDB_BCOM" name="bank" value="GDB"/>
                 <label id="GDB_label" class="bank guangfa">广东发展银行</label>
             </td>
             
             <td onclick="click_bank(this)"><input type="radio" id="CMBC_bank" name="bank" value="CMBC"/>
			      <label  id="CMBC_label"  class="bank minsheng">中国民生银行</label>
			 </td>
			 
			 </tr>
			 
			 <tr>
			 
			 	<td onclick="click_bank(this)"><input type="radio" id="BCCB_bank" name="bank" value="BCCB" />
			      <label  id="BCCB_label"  class="bank beijing">北京银行</label>
			 </td>
			 
			 <td onclick="click_bank(this)"><input type="radio" id="SHB_bank" name="bank" value="SHB" />
			      <label  id="SHB_label"  class="bank shanghai">上海银行</label>
			 </td>
			 
			 </tr>
             
             
            
                                               
          </table>
        </div>
        
         </form>
         	<div style="text-align:center">
               <a href="deposit.php" class="buttom02" style="padding:0">返回支付</a>
            </div>
               </fieldset>
            </div>
            #{include '/templates/user_info.html' /}    
</div>                           


