#{extends '/templates/8da.html' /} 
#{set title:'中奖记录 -八达国际官网（8dabet.com）- 八达博天下' /}
#{set keywords:'中奖记录，八达国际'/} 
#{set description:''/} 
#{set cust_nav_li:'cust_1_5'/}
<script data-cfasync="false">
function resetMyform(){
	$('#start_date').val('');
	$('#end_date').val('');
}

</script>
<script data-cfasync="false" type="text/javascript" src="#{mb.static '/public/My97DatePicker/WdatePicker.js'/}" charset="utf-8"></script>
<div id="wrapper" class="MainWrap"> 
           #{include '/templates/user_left.html'/}  
<div class="UserRight">            	
<form id="myform" method="get" action="/egg_list.php">

                <fieldset>
               <legend>抽奖记录</legend>                      
               <table><tbody><tr><td> <label style="text-align:left; width:60px;margin-right:0;">开始时间：</label>
                <input type="text" class="Wdate" maxlength="10" style="width: 130px;height:25px" 
                                    onclick="WdatePicker({startDate:'%y-%M-01',dateFmt:'yyyy-MM-dd HH:mm',alwaysUseStartDate:true})"  
                                    name="start_date" id="start_date" value="${start_date}">

               </td>
               <td><label style="text-align:left; width:65px;margin-right:0;">结束时间：</label>
                <input type="text" class="Wdate" maxlength="10" style="width: 130px;height:25px" 
                                    onclick="WdatePicker({startDate:'%y-%M-01',dateFmt:'yyyy-MM-dd HH:mm',alwaysUseStartDate:true})"  
                                    name="end_date" id="end_date" value="${end_date}">
                </td>
               <td><input type="submit" class="buttom02" style="width:60px;height" value="查询" ></td>
               <td><input type="button" class="buttom02" style="width:60px;"  value="重设" onclick="resetMyform()"></td>
               </tr></tbody></table>
           		<table>
                    	<tbody><tr>
                        	<th style="width:150px">时间</th>
                        	<th style="width:150px">中奖号码</th>
                        	<th style="width:180px">中奖信息</th>
                        	<th style="width:60px">状态</th>
                        </tr>
                    	#{mb.queryList queryList:eggList}
                    	<tr>
                        	<td>${_obj.create_date.getTime().asdate('yyyy-MM-dd HH:mm:ss')}</td>
                        	<td>${_obj.gift_code}</td>
		                    <td>${_obj.trophy_name}${_obj.trophy_count}个</td>
                        	<td>${dict.dictName('egg_gift_status',_obj.status)}</td>
                        </tr>  
                         #{/mb.queryList}                                                                                                                                        
                                                                                                                                                             
                    </tbody></table>
                     	<div class="mypage">
                     	 #{mb.page count:count,page:page,start_date:start_date,end_date:end_date}#{/mb.page} 
                        </div>			
               </fieldset>
             </form>
            </div>
                 #{include '/templates/user_info.html' /}  

</div>
 