#{extends '/templates/8da.html' /} 
#{set title:'修改密码 -八达国际官网（8dabet.com）- 八达博天下' /}
#{set keywords:'修改密码，八达国际'/} 
#{set description:''/} 
#{set cust_nav_li:'cust_3_3'/}
<div id="wrapper" class="MainWrap">
           #{include '/templates/user_left.html'/}  		
		    <div class="UserRight">            	
               <fieldset>
	                <legend>修改密码</legend>
	                
	                
	                <div class="SYCentBlockWrap">
	                <div><span style="color:white">${errorMsg}</span></div> 
					<div class="SYCentTitle">网站密码修改</div>
					<div class="SYCentBlock">
						<form action="/password.php" method="post" autocomplete="off">
							<div>
								<label>原始密码：</label>
								<input type="password" name="login_pwd" value="" class="input">
								<span>您的网站登录密码。</span> </div>
							<div>
								<label>新密码：</label>
								<input type="password" name="login_newpwd" value="" class="input">
								<span>6-16位内的数字与字母组合。</span> </div>
							<div>
								<label>重复密码：</label>
								<input type="password" name="login_repwd" value="" class="input">
								<span>6-16位内的数字与字母组合。</span> </div>
							<div class="BtnBox2"><button class="Btn2 BtnSize_B3" type="submit">提交</button>
							</div>
						</form>
					</div>
				</div>
				
				
				<div class="SYCentBlockWrap">
					<div class="SYCentTitle">游戏客户端密码修改<a>请用专用的密码登录客户端</a>
					</div>
					<div class="SYCentBlock ClientPWD">
						<span>由8位数字或字母组合，请勿设置简单的8位密码。登录客户端时，请在用户名前面加daw前缀</span>
						<form action="/password_pt.php" method="post" autocomplete="off">
							<div>
								<label>PT客户端密码：</label>
								<input type="password" name="pt_pwd" value="" class="input" placeholder="设置修改＂PT＂客户端的密码">
								<button class="Btn2 BtnSize_B3" type="submit">更改</button>
							</div>

						</form>

						<form action="/password_mg.php" method="post" autocomplete="off">
							<div>
								<label>MG客户端密码：</label>
								<input type="password" name="mg_pwd" value="" class="input" placeholder="设置修改＂MG＂客户端的密码">
								<button class="Btn2 BtnSize_B3" type="submit">更改</button>
							</div>

						</form>

						<form action="/password_bbin.php" method="post" autocomplete="off" >
							<div>
								<label>BBIN手机端密码：</label>
								<input type="password" name="bbin_pwd" value="" class="input" placeholder="设置修改＂BBIN＂客户端的密码">
								<button class="Btn2 BtnSize_B3" type="submit">更改</button>
								</div>
						</form>
						</div>
					</div>
			</fieldset>
			</div>
	                
	                
	                
	                
                #{include '/templates/user_info.html' /}   
</div>                           