<style>
.infotable {
 padding: 0;
 margin: 0;
}
.infotable caption {
 padding: 0 0 5px 0;
 font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
 text-align: right;
}
.infotable th {

 color: #4f6b72;
 font-size:12px;
 border-right: 1px solid #C1DAD7;
 border-bottom: 1px solid #C1DAD7;
 border-top: 1px solid #C1DAD7;
 letter-spacing: 2px;
 text-transform: uppercase;
 text-align: left;
 padding: 6px 6px 6px 12px;
 background: #CAE8EA ;
  height:28px;
}
.infotable th.nobg {
 border-top: 0;
 border-left: 0;
 border-right: 1px solid #C1DAD7;
 background: none;

}

.infotable tr {
 height:28px;
}
.infotable td {
 border-right: 1px solid #C1DAD7;
 border-bottom: 1px solid #C1DAD7;
 background: #fff;
 font-size:10px;
 padding: 6px 6px 6px 12px;
 color: #4f6b72;
}

.infotable td.alt {
 background: #F5FAFA;
 color: #797268;
}
.infotable th.spec {
 border-left: 1px solid #C1DAD7;
 border-top: 0;
 background: #fff url(images/bullet1.gif) no-repeat;
 font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}
.infotable th.specalt {
 border-left: 1px solid #C1DAD7;
 border-top: 0;
 background: #f5fafa url(images/bullet2.gif) no-repeat;
 font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
 color: #797268;
}
.sl009{
 font-size:12px;
 border-collapse:collapse;
}
.sl009 td{
 font-size:12px;
  border:solid black 1px;
 border-spacing:100px;
 padding-left:2px;
 color:black;
font-weight:bolder;
}
.title_info{
font-size:16px;
font-weight:bolder;
margin-top:10px;
}

.tr1009{
background-color:#e8f3fd;
}
.tr1009 td{
font-weight:bolder;
color:#FF5151;
}
</style>
<div>
    
   
    
   
    
     <div>
          <div class="title_info">额度信息</div>
          <div>
              <table class="sl009">
                <tr class="tr1009">
                   <td style="width:120px" >总额度</td>
                   <td style="width:120px">本地额度</td>
                   <td style="width:120px">PT额度</td>
                   <td style="width:120px">AG额度</td>
                   <td style="width:120px">BBIN额度</td>
                   <td style="width:120px">KG额度</td>
                   <td style="width:120px">MG额度</td>
                   <td style="width:120px">申博额度</td>
                   <td style="width:120px">PP额度</td>
                   <td style="width:120px">积分</td>
                </tr>
                <tr>
                   <td><span id="cust_total_credit"></span>${totalCredit}</td>
                   <td><span id="cust_local_credit"></span>${customer.credit}</td>
                   <td><span id="cust_sb_credit"></span>${ptCredit}</td>
                   <td><span id="cust_ag_credit"></span>${aginCredit}</td>
                   <td><span id="cust_bbin_credit"></span>${bbinCredit}</td>
                   <td><span id="cust_bbin_credit"></span>${kgCredit}</td>
                   <td><span id="cust_bbin_credit"></span>${mgCredit}</td>
                   <td><span id="cust_bbin_credit"></span>${sbCredit}</td>
                   <td><span id="cust_bbin_credit"></span>${ppCredit}</td>
                   <td><span id="cust_score"></span>${customer.score}</td>
                </tr>
             </table>
          </div>
    </div>

</div>

