#{extends '/templates/8da.html' /} 
#{set title:'咨询问题 -八达国际官网（8dabet.com）- 八达博天下' /}
#{set keywords:'咨询问题，八达国际'/} 
#{set description:''/}
#{set menu_li:'index_8'/} 
<div id="wrapper">   
<iframe src="http://127.0.0.1:8080/webchat/queue.jsp?workgroup=demo@workgroup.openfire.localdomain&chatID=${session.getId()}&username=343&email=34@qq.com&question=434343&location=http%3A%2F%2F127.0.0.1%3A8080%2Fwebchat%2F"></iframe>

</div>

http://livechat.8dabet.com/webchat/queue.jsp?chatID=nRAf3u46xjnRAf3u46xjnRAf3u46xj&workgroup=8dacs@workgroup.ph8da1&username=343&email=34@qq.com&question=434343&location=http%3A%2F%2F127.0.0.1%3A8080%2Fwebchat%2F