#{extends '/templates/8da.html' /} 
#{set title:'联系我们 -八达国际官网（8dabet.com）- 八达博天下' /}
#{set keywords:'联系我们 ，八达国际'/} 
#{set description:''/}
#{set menu_li:'index_8'/} 
<div id="wrapper" class="MainWrap">                                   
  
    		#{include '/templates/index_left.html' /}
			<div class="UserRight ArticleCont">
    <fieldset>
    <div class="SYCentBlockWrap2">
            	<div class="InTit"><span>联系我们</span></div>
 <p>           
八达国际作为国际专业的网上博彩游戏客户端运营企业，我们凭藉集合世界级的博彩资讯专 家丰富经验的服务团队、市场营销 专家、先进的软硬件开发人员建立出八达国际品牌全面而完善 的组织体系。我们承诺，为每一位客户提供最及新、最安全、最准确的 专业博彩数据，以及全方位的国际化服务。
</p>
<p>
我们为您提供24小时线上服务，您可以在网站首页点击"24小时在线客服"图标与我们联系。
</p>

<p>
<h3>菲律宾热线: 0063-99888-18888（需要您支付国际长途费用）</h3>
</p>
<p>
<h3>邮箱: cs.8dabet@gmail.com</h3>
</p>
<p>
<h3>skype：kf8dabet</h3>
  </p><p>

      </p>
      <p>
<h3>QQ:800186517<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=800186517&amp;menu=yes&amp;site=qq" target="blank" title="点击进行在线咨询">
<img src="http://www.188shenbo.com/public/images/qq.png"></a></h3>

</p><br />
<br />
<br />

           
            </div>
  </fieldset>
  </div>
</div>                             
