#{extends '/templates/8da.html' /} 
#{set title:'常见问题 -八达国际官网（8dabet.com）- 八达博天下' /}
#{set keywords:'常见问题 ，八达国际'/} 
#{set description:''/}    
#{set menu_li:'index_8'/}                                			                                                	
<div id="wrapper" class="MainWrap">                                   
    
    		#{include '/templates/index_left.html' /}
			<div class="UserRight ArticleCont">
    <fieldset>
    <div class="SYCentBlockWrap2">
            	<div class="InTit"><span>常见问题</span></div>
 <p>           
<span>1、如何成为会员？</span><br/>
如何成为会员？ 您可以自己点击网页上的“快速注册”按钮，自行注册真钱游戏账号。温馨提示：为了您的帐户和资金安全，建议您提供真实的电话号码，以 便将来您申请的任何变更服务我们都可以和您本人亲自确认。 备注：账户姓名必须与取款银行账户姓名一致，否则取款将无法成功支付。
</p>
<p>
<span>2、如何为账号充值？</span> <br/>
您可以通过网上银行，ATM 或者柜台转账到我们指定的银行账户中，请联系客服索要网站的银行账号。我们为客户提供大陆账号以及 国外美金账户。
</p>
<p>
<span>3、我赢钱了怎么把游戏分兑现？ </span><br/>
游戏分与人民币是一比一兑换的，在您开通账号之后，需要您在取款账号中填写您的银行卡号，银行账户姓名默认为您的游戏账户姓 名（请保持游戏账号姓名与银行账号姓名一致），取款时您只需要点击在线取款，填写取款金额，我们会在规定时间内审核并支付到 您的银行账户中。
</p>

<p>
<span>4、游戏账号安全吗？</span><br/>
请您放心，我们对会员账号姓名与取款银行账号姓名进行了绑定，这样即使账号遗失，您的账号资金也是绝对安全的。您的会员帐号 所申请的任何变更服务我们都将通过您的注册电话和您本人确认无误后才执行。温馨提示：建议请您把密码设置复杂，并定时更换密 码。本公司如有变更网址均会由客服提早通知，为确保您使用账号之安全，切勿通过不明的网址尝试登录。
</p>

<p>
<span>5.交易安全吗？</span><br/>
玩家网上支付和所有银行交易由国际金融机构在高标准的安全和机密的网络中进行。进入玩家帐户资料也必须有玩家唯一的登录ID和 密码，确保客户的资金安全有保障。同时也采用最先进的加密措施来保证玩家的游戏安全，24小时的后台检测和监控，确保我们可以 提供一个完全公正和安全的网络游戏空间。客户在本平台的所有活动均严格保密，我们不会向第三方包括政府透露客户资料。
</p>

<p>
<span>6、游戏24小时开放吗？</span><br/>
您好，是的，游戏是24小时开放的，客服也是7*24小时为您办理存取款业务以及处理其他相关业务的。
</p>
</div>
				</fieldset>
            </div>
            
    </div>                             
