#{extends '/templates/8da.html' /} 
#{set title:'帮助中心 -八达国际官网（8dabet.com）- 八达博天下' /}
#{set keywords:'帮助中心 ，八达国际'/} 
#{set description:''/}      
#{set menu_li:'index_8'/}                         			                                                	
<div id="wrapper" class="MainWrap">                                
    
    	    #{include '/templates/index_left.html' /}
			<div class="UserRight ArticleCont">
    <fieldset>
    <div class="SYCentBlockWrap2">
            	<div class="InTit"><span>帮助中心</span></div>
					 <p>           
					<h3>谁是八达国际？</h3>
					八达国际附属于八达集团。集团是世界领先的网络博彩集团之一，在全球差不多五十个国家均设办事处，英国、比利时、爱尔兰、美国及阿根廷都提供投注服务。现集团基于业务多元化考虑，将线上博彩业务领域扩展至亚洲，并以"全力打造亚洲最丰富的真人视迅超市"为己任，向博彩好爱者隆重推出。同时也已经取得了菲律宾CEZA和 First Cagayan(http://www.firstcagayan.com) 的充分授权。八达国际严格按照这些管理机构发布的规则进行所有运营。
					</p>
					<p>
					<h3>在八达国际投注的好处</h3> 
					只要使用一个帐户，八达国际便可带给您全面的激动人心的投注国际。而且八达集团是世界上最大的博彩公司的一份子，您尽可放心，我们对您帐户的处理是完全安全、谨慎和诚实的。
					</p>
					<p>
					<h3>八达国际的目标 </h3>
					博彩世界并非只是博彩爱好者的乐园，对我们来说也同样刺激和挑战！八达国际不惜重金招聘和发掘最佳员工。我们的目标是保证能提供给客户们全心全意的服务和最清楚的信息。
					</p>
					
					<p>
					<h3>八达国际专业客服团队</h3>
					我们提供训练有素和亲切的客户服务，全天候24小时的在线为客户们服务。我们保证以快速、礼貌和有效的方式为玩家们处理问题。
					</p>
					
					<p>
					<h3>八达国际支付方式 </h3>
					我们向您提供安全方便的各种支付方式。我们坚持以"了解你的客户"和"反洗钱"为一贯宗旨，并配合第三方金融监管机构，以确保遵守最高标准。
					</p>
					
					<p>
					<h3>游戏责任</h3>
					八达国际提倡有节制的赌博。我们建议阁下遵守以下一些基本规则：<br />
					禁止未满18岁的人士参与赌博游戏。<br />
					自定博彩预算，并按预算下注。<br />
					如玩家要求下，我们将会冻结玩家的会籍。一旦冻结会籍后，所有相关时事通讯将会被取消。
					</p>
					</div>
				</fieldset>
            </div>

            
    </div>                             
