#{extends '/templates/8da.html' /} 
#{set title:'公司牌照 -八达国际官网（8dabet.com）- 八达博天下' /}
#{set keywords:'公司牌照 ，八达国际'/} 
#{set description:''/}
#{set menu_li:'index_8'/}                          			                                                	
<div id="wrapper" class="MainWrap">                                  
    
    		#{include '/templates/index_left.html' /}
            
            
            <div class="UserRight ArticleCont">
    <fieldset>
      <div class="SYCentBlockWrap2">
        <center>
          <img src="#{mb.static '/public/images/fc_logo.jpg' /}" alt="">
        </center>
        <div class="InTit"><span>菲律宾博彩执照—First Cagayan</span></div>

        <p> First Cagayan是菲律宾有合法经营权的组织，其菲律宾共和国法律的SEC注册号为A200005770。附属于Leisure and Resorts World Corporation(菲律宾证券交易所上市公司) </p>
        <p> First Cagaya的运营在亚洲区域始终保持前端，也将为广大持牌者提供更好发展前景，同时为亚太地区的博彩业务与世界博彩市场接轨提供稳定的桥梁。 </p>
        <center>
          <img src="#{mb.static '/public/images/license.jpg' /}" alt="">
        </center>
        <span>First Cagayan 联络方式：</span>
        <p>地址：First Cagayan Leisure and Resort Corporation 26th Floor West Tower, Philippine Stock Exchange Center
          Exchange Road, Ortigas Center, Pasig City Philippines 1605 </p>
        <p> 联系电话：(632) 638-55-56 </p>
        <p> 传真：(632) 635-09-93 </p>
        <p> 邮箱：info@firstcagayan.com</p>
        </div>
    </fieldset>
  </div>
       
    </div>                             
