#{extends '/templates/8da.html' /} 
#{set title:'规则条例 -八达国际官网（8dabet.com）- 八达博天下' /}
#{set keywords:'规则条例，八达国际'/} 
#{set description:''/}    
#{set menu_li:'index_8'/} 
<style>
.page {
	color: #333;
	margin: 0 auto;
	margin-top:10px;
	padding: 1em 0 2em;
	background-color: #f4f39e;
	-moz-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.2);
	position: relative;
}
.page:after {
	width: 180px;
	height: 30px;
	content: " ";
	margin-left: -90px;
	border: 1px solid rgba(200, 200, 200, .8);
	background: rgba(254, 254, 254, .6);
	-moz-box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1);
	-moz-transform: rotate(-5deg); 
	-webkit-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
    transform: rotate(-5deg);
	position: absolute;
	left: 50%;
	top: -15px;
}
.page p {
	line-height: 2em;
	padding: 0 2em;
	font-size:16px;
}
</style>


<div id="wrapper" class="MainWrap">                                   
   
    		#{include '/templates/index_left.html' /}
			<div class="UserRight ArticleCont">
    <fieldset>
    <div class="SYCentBlockWrap2">
            	<div class="InTit"><span>规则条例</span></div>
          
 <div class="page">
 <h2 style="text-align:center;margin-top:20px">八达国际规则条例</h2>
 <p> 
八达国际要求各位客户在接受我们的服务前仔细并完整地阅读该协议。当您在使用我们的服务 时，即表示您已阅读、了解并同意接 受我们的协议与条规之所有内容，并且承诺一旦违背此协议将自行承担后果。
</p>
<p>
1、本公司是合法互联网路交易机构，现提醒有意参与本公司所有游戏之客户，应注意其国家或居住地区的相关法律规定，如有疑问， 应就相关问题寻求当地法律意见，任何用户在参与本公司所有游戏而引起导致违反当地法律之任何责任，本公司概不负责。</p>
<p>
2、任何语言版本的协议书为翻译版本，当所有协议书在翻译或阐述时导致任何歧义，则以中文版本的协议书内容上的条例为准。</p>
<p>
3、用户触犯此协议书任何一项条例，即被列入黑名单，本网站有权在不通知的情况下冻结或关闭相关账户，并不退还款项，同时保留 追究权利。</p>
<p>
4、用户只限拥有一个账户，如发现客户拥有超过一个账户或与其他账户有关系，本网站有权在不通知的情况下冻结或关闭相关账户， 并不退还款项。</p>
<p>
5、用户拥有超过一个账户，包括同一姓名，同一邮件地址，同一家庭，同一IP地址（连接式如121.58.167.33，121.58.167.34， 121.58.168.01 同样被判定为相同IP），同一住址，同一借记卡/信用卡，同一银行账户，同一电脑（大学，团体，网吧，图书馆， 办公室等），被视为联合账户或可疑账户，本网站有权在不通知的情况下冻结或关闭相关账户，并不退还款项。</p>
<p>
6、 所有账户只限持有者一人使用，用户有责任确保用户的账户及密码隐私安全，如用户有意/无意透露或泄露账户资料导致被盗，或 第三方以任何形式获得用户的账户及密码及进行游戏导致用户账户损失，所有损失及责任需由用户全部承担</p>
<p>
7、所有使用正确的账户及密码登入者，被视为正常登入，其账户的网上交易被视为有效。</p>
<p>
8、用户所拥有的账户姓名必须与身份证和银行账户名一致。</p>
<p>
9、用户以正确的账户及密码并正常的登入，遵守游戏规则及投注规则的相关投注被视为有效投注。</p>
<p>
10、用户有义务在投注成功后，检查所投注的注单信息，所有投注成功的注单，被视为有效注单，不得取消或更改。</p>
<p>
11、用户以不正常的方式如人工智能、或软件、或欺骗、或攻击、或破坏系统等手段所进行的投注，将会被视为无效及取消，相关账 号将立即永久关闭，并不退还款项。</p>
<p>
12、用户必须对其账户所产生的交易或投注承担一切责任，无论所有交易是否由用户本人做出。</p>
<p>
13、所有投注记录将会被记录于本网站交易数据库，并依照交易数据库的投注记录为最终记录及依据。</p>
<p>
14、本网站保留拥有任何相关投注和交易的最终决定权。</p>
<p>
15、所有提款申请必须符合本网站的提款政策，如存款未经过一定的投注，即无法通过提款审核，提款申请将会被驳回。</p>
<p>
16、若有必要，用户必须提供个人资料如身份证副本、驾驶执照副本、银行交易记录截图、居民户口簿副本等资料。</p>
<p>
17、若要获得本网站所有的优惠红利或回赠，用户必须符合所有条例及附加条款，方可享有相关优惠。</p>
<p>
18、用户必须遵守及符合相关优惠所规定的提款条例及限制，否则提款申请将不被受理。</p>
<p>
19、用户涉及个人或团体以不正当的手法如下述，进行骗取或诈骗相关优惠奖金，本网站有权在不通知的情况下冻结或关闭相关账户， 并不退还款项，用户将会被列入黑名单，并保留追究权利。</p>
<p>
20、本网站任何时候可终止或修改优惠等条例及内容，并不承担向用户解释说明的责任，本网站保留最终决定权。</p>
			</div>
			</div>
			</fieldset>	
            </div>
            
    </div>             