#{extends '/templates/8da.html' /} 
#{set title:'博彩责任 -八达国际官网（8dabet.com）- 八达博天下' /}
#{set keywords:'博彩责任 ，八达国际'/} 
#{set description:''/}    
#{set menu_li:'index_8'/} 

<style>
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face { font-family: 'codropsicons'; src: url('../fonts/codropsicons/codropsicons.eot'); src: url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'), url('../fonts/codropsicons/codropsicons.woff') format('woff'), url('../fonts/codropsicons/codropsicons.ttf') format('truetype'), url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg'); font-weight: normal; font-style: normal; }
.page { color: #333; margin: 0 auto; margin-top: 10px; padding: 1em 0 2em; background-color: #f4f39e; -moz-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.2); position: relative; }
.page:after { width: 180px; height: 30px; content: " "; margin-left: -90px; border: 1px solid rgba(200, 200, 200, .8); background: rgba(254, 254, 254, .6); -moz-box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1); box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1); -moz-transform: rotate(-5deg); -webkit-transform: rotate(-5deg); -o-transform: rotate(-5deg); transform: rotate(-5deg); position: absolute; left: 50%; top: -15px; }
.page p { line-height: 2.3em; padding: 0 2em; font-size: 16px; }

.page02 { padding: 1em 2em; }
.page02 p { padding: 0; }
.page02 p a.buttom03{background-size:100%;width:180px;line-height: 50px;height: 50px;display: block;text-align: center;font-size:18px;color:#fff;padding:0;margin-left: 30px;}
.ac-custom { padding: 0 3em; max-width: 900px; margin: 0 auto;}
.ac-custom h2 { font-size: 3em; font-weight: 300; padding: 0 0 0.5em; margin: 0 0 30px; }
.ac-custom ul, .ac-custom ol { list-style: none; padding: 0; margin: 0 auto; max-width: 800px; display: inline-table; box-sizing: border-box; }
.ac-custom li { margin: 0 auto; padding: 3px 0; position: relative; float: left; display: inline-table; }
.ac-custom label { display: inline-block; width: auto; font-size: 14px; color: #333; padding: 0px 10px 0 32px; vertical-align: top; cursor: pointer; -webkit-transition: color 0.3s; transition: color 0.3s; }
.ac-custom input[type="checkbox"], .ac-custom input[type="radio"], .ac-custom label::before { width: 20px; height: 20px; top: 50%; left: 0; margin-top: -25px; position: absolute; cursor: pointer; }
.ac-custom input[type="checkbox"], .ac-custom input[type="radio"] { opacity: 0; -webkit-appearance: none; display: inline-block; vertical-align: middle; }
.ac-custom label::before { content: ''; border: 4px solid black; -webkit-transition: opacity 0.3s; transition: opacity 0.3s; float: left; display: block;    /* vertical-align: middle; */ margin-top: -15px; }
.ac-radio label::before { border-radius: 50%; }
.ac-custom input[type="checkbox"]:checked + label, .ac-custom input[type="radio"]:checked + label { color: red; font-weight: bold; }
.ac-custom input[type="checkbox"]:checked + label::before, .ac-custom input[type="radio"]:checked + label::before { opacity: 0.8; }



/* General SVG and path styles */
.ac-custom svg { position: absolute; width: 20px; height: 20px; top: 80%; margin-top: -20px; left: 5px; pointer-events: none; }
.ac-custom svg path { stroke: red; stroke-width: 13px; stroke-linecap: round; stroke-linejoin: round; fill: none; }

/* Specific input, SVG and path styles */

/* Circle */
.ac-circle input[type="checkbox"], .ac-circle input[type="radio"], .ac-circle label::before { width: 30px; height: 30px; margin-top: -15px; left: 10px; position: absolute; }
.ac-circle label::before { background-color: black; border: none; }
.ac-circle svg { width: 70px; height: 70px; margin-top: -35px; left: -10px; }
.ac-circle svg path { stroke-width: 5px; }

/* Box Fill */
.ac-boxfill svg path { stroke-width: 8px; }

/* Swirl */
.ac-swirl svg path { stroke-width: 8px; }

/* List */
.ac-list ol { list-style: decimal; list-style-position: inside; }
.ac-list ol li { font-size: 2em; padding: 1em 1em 0 2em; text-indent: -40px; }
.ac-list ol li label { font-size: 1em; text-indent: 0; padding-left: 30px; }
.ac-list label::before { display: none; }
.ac-list svg { width: 100%; height: 80px; left: 0; top: 1.2em; margin-top: 0px; }
.ac-list svg path { stroke-width: 4px; }

</style>
<div id="wrapper" class="MainWrap">                                  
    
    	    #{include '/templates/index_left.html' /}
			<div class="UserRight ArticleCont">
    <fieldset>
    <div class="SYCentBlockWrap2">
            	<div class="InTit"><span>博彩责任</span></div>
            	
            	<div class="page">
            	<h2 style="text-align:center;margin-top:20px">致全体八达国际玩家的一封公开信</h2>
            	<p>亲爱的玩家您好:</p>
            	
            	
 <p>八达博彩游戏为您提供一种新颖的娱乐消遣方式，所有的游戏为您提供公平公正公开的操作及派彩，建议您勿过于沉迷其中，以致对日常生活造成负面影响。八达国际绝对有责任让顾客在一个良好的环境下获得最佳的娱乐体验，并希望顾客可以明确地调整自己的心态，避免因沉迷博彩而影响到自己的事业和家庭，甚至别人，例如亲人、朋友的生活。 八达国际在此提醒各位玩家： 如有违反下述限定的帐户，经核实，本站将采取终止该投注帐户操作等一系列措施。</p>

  <p>&nbsp;&nbsp;&nbsp;&nbsp;1、所有未满18岁之人士（或在阁下居住的管辖范围内被视为未成年人士）进行博彩活动属于非法的行为。任何未满18岁之人士不得在本站开户和投注， 八达国际如果发现任何违背此规定的客户，将采取终止该投注帐户操作的措施。</p>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;2、任何玩家因过度游戏严重影响到家人、朋友、工作等日常生活，本站有权利在经过玩家同意后封停该玩家投注账户的一切操作。</p>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;3、任何玩家因过度游戏导致的生理及精神出现严重问题或存在相关隐患，本站有权利在经过玩家同意后封停该玩家投注账户的一切操作。</p>

<p>建议您在开始八达游戏之前，参与八达国际为玩家制作的《博彩调查问卷》（附录）的评分，从而了解您是否有足够的自控能力进行博彩类游戏，避免为您造成不必要的困扰。</p>
<p>如您已经沉迷博彩游戏，我们建议您：</p>
<p>★ 把博彩当做一种娱乐休闲项目</p>
<p>★ 避免连续的损失</p>
<p>★ 对博彩有自己的认识</p>
<p>★ 合理安排自己在博彩中的时间和精力</p>
<p>★ 自我隔离：对于一些客户希望暂时远离博彩，我们将提供一个自我排除的功能，您可以申请六个月到五年的账户关闭。请点击网页中的"联系我们"，我们的客服人员会为您带来更多资讯。</p>
<p>★ 家长的监控：来自很多父母以及监护人要求对网络进行过滤，我们推荐以下网站： 保护孩子远离不良网站：www.netnanny.com .
    父母可为电脑设置隔离的网站：www.cybersitter.com 您也可以登录GamCare的网址www.gamcare.org.uk查寻更多关于沉迷赌博问题的帮助解决与开导方式。</p>



<p >诚挚祝您生活愉快！</p>
<p style="text-align:right">八达集团敬上</p>
<p style="text-align:right">2008.07.08</p>
             
</div>

<h3 style="font-size:16px;margin-top:20px">《博彩调查问卷》（附录）</h3>
<div class="page page02">
<h2 style="text-align:center;margin-top:40px">博彩调查问卷</h2>
<p style="font-size:16px;">八达国际正在积极努力为玩家提供一个优质的娱乐平台。以下这些问题设置的目的在于，我们已经设置升级了多项安全设施来确保我们游戏的公平公正，我们鼓励客户通过回答我们的问卷来了解客户对博彩的危害问题的状况：</p>
<p style="font-size:16px;">● 1、您会因为躲避工作和学习来进行赌博吗？</p>
    <form class="ac-custom ac-radio ac-fill" autocomplete="off">
      <ul>
        <li>
          <input id="r1" name="question_1" type="radio" value="2">
          <label for="r1">经常会</label>
        </li>
        <li>
          <input id="r2" name="question_1" type="radio" value="1">
          <label for="r2">偶尔会</label>
        </li>
        <li>
          <input id="r3" name="question_1" type="radio" value="0">
          <label for="r3">不会</label>
        </li>
      </ul>
    </form>
<p style="font-size:16px;">● 2、您会因为无聊或者不开心来进行赌博吗？</p>
    <form class="ac-custom ac-radio ac-fill" autocomplete="off">
      <ul>
        <li>
          <input id="r4" name="question_2" type="radio" value="2" >
          <label for="r4">经常会</label>
        </li>
        <li>
          <input id="r5" name="question_2" type="radio" value="1">
          <label for="r5">偶尔会</label>
        </li>
        <li>
          <input id="r6" name="question_2" type="radio" value="0">
          <label for="r6">不会</label>
        </li>
      </ul>
    </form>
<p style="font-size:16px;">● 3、您在注金投注完时，是否感觉要尽快的再次下注？ </p>
    <form class="ac-custom ac-radio ac-fill" autocomplete="off">
      <ul>
        <li>
          <input id="r7"  name="question_3" type="radio" value="2">
          <label for="r7">经常会</label>
        </li>
        <li>
          <input id="r8"  name="question_3" type="radio" value="1">
          <label for="r8">偶尔会</label>
        </li>
        <li>
          <input id="r9"  name="question_3" type="radio" value="0">
          <label for="r9">不会</label>
        </li>
      </ul>
    </form>
<p style="font-size:16px;">● 4、您会一直赌博直到您的钱都输完吗？ </p>
    <form class="ac-custom ac-radio ac-fill" autocomplete="off">
      <ul>
        <li>
          <input id="r10"  name="question_4" type="radio" value="2" >
          <label for="r10">经常会</label>
        </li>
        <li>
          <input id="r11"  name="question_4" type="radio" value="1">
          <label for="r11">偶尔会</label>
        </li>
        <li>
          <input id="r12"  name="question_4" type="radio" value="0">
          <label for="r12">不会</label>
        </li>
      </ul>
    </form>
<p style="font-size:16px;">● 5、您是否有说谎言借钱，甚至盗窃来进行博彩？ </p>
    <form class="ac-custom ac-radio ac-fill" autocomplete="off">
      <ul>
        <li>
          <input id="r13"  name="question_5" type="radio" value="2">
          <label for="r13">经常会</label>
        </li>
        <li>
          <input id="r14"  name="question_5" type="radio" value="1">
          <label for="r14">偶尔会</label>
        </li>
        <li>
          <input id="r15"  name="question_5" type="radio" value="0">
          <label for="r15">不会</label>
        </li>
      </ul>
    </form>
<p style="font-size:16px;">● 6、您是否刻意隐瞒过您在博彩中会花费的时间和资金吗？</p>
    <form class="ac-custom ac-radio ac-fill" autocomplete="off">
      <ul>
        <li>
          <input id="r16"  name="question_6" type="radio" value="2">
          <label for="r16">经常会</label>
        </li>
        <li>
          <input id="r17"  name="question_6" type="radio" value="1">
          <label for="r17">偶尔会</label>
        </li>
        <li>
          <input id="r18"  name="question_6" type="radio" value="0">
          <label for="r18">不会</label>
        </li>
      </ul>
    </form>
<p style="font-size:16px;">● 7、您是否不愿意在其他方面花费您的赌金呢？ </p>
    <form class="ac-custom ac-radio ac-fill" autocomplete="off">
      <ul>
        <li>
          <input id="r19"  name="question_7" type="radio" value="2">
          <label for="r19">经常会</label>
        </li>
        <li>
          <input id="r20"  name="question_7" type="radio" value="1">
          <label for="r20">偶尔会</label>
        </li>
        <li>
          <input id="r21"  name="question_7" type="radio" value="0">
          <label for="r21">不会</label>
        </li>
      </ul>
    </form>
<p style="font-size:16px;">● 8、您是否已经对家人，朋友和其他生活爱好失去了兴趣？</p>
    <form class="ac-custom ac-radio ac-fill" autocomplete="off">
      <ul>
        <li>
          <input id="r22"  name="question_8" type="radio" value="2">
          <label for="r22">经常会</label>
        </li>
        <li>
          <input id="r23"  name="question_8" type="radio" value="1">
          <label for="r23">偶尔会</label>
        </li>
        <li>
          <input id="r24"  name="question_8" type="radio" value="0">
          <label for="r24">不会</label>
        </li>
      </ul>
    </form>
<p style="font-size:16px;">● 9、假如您的注金全部投注完，您是否会感到想要尽快赢回您输掉的资金？ </p>
    <form class="ac-custom ac-radio ac-fill" autocomplete="off">
      <ul>
        <li>
          <input id="r25"  name="question_9" type="radio" value="2">
          <label for="r25">经常会</label>
        </li>
        <li>
          <input id="r26"  name="question_9" type="radio" value="1">
          <label for="r26">偶尔会</label>
        </li>
        <li>
          <input id="r27"  name="question_9" type="radio" value="0">
          <label for="r27">不会</label>
        </li>
      </ul>
    </form>
    <p>
    <a href="javascript:queryResult()" target="_blank" class="buttom03">查看评测结果</a>
    </p>
    <div id="result_1" style="display:none;color: red;">
    <p style="font-size:16px;">评测结果：您对事情比较投入，喜欢用全部的精力去完成一件事，这种精神会帮助您在事业上成功，但用在博彩游戏中并不是很合适喔，建议您在进行游戏时调整心态，以保持心态的平和，严格控制自己进行游戏的额度以及欲望，如必要可请求朋友的帮助或是联系我们为您提供必要的帮助。</p>
   </div>
   <div id="result_2" style="display:none;">
    <p style="font-size:16px;">评测结果：您拥有较强的自控能力，对游戏有充分的兴趣并且喜爱游戏，您有时会因为游戏而感到心情激动，但大多数情况下能够控制自己的情绪，您可放心投入游戏的乐趣中，建议您为自己设置每天游戏的额度，更有利于您放松的感受游戏乐趣。</p>
   </div>
   <div id="result_3" style="display:none;color: green;">
    <p style="font-size:16px;">评测结果：您能够很好的控制自己进行博彩游戏的欲望，对于游戏持较为平淡的态度来对待，您拥有多数博彩玩家所缺乏的强自制力，您尽可放心投入游戏的乐趣中。</p>
</div>
</div>
</div>
</fieldset>
            </div>
            
    </div>           
    <script>
    function queryResult(){
    	var s=0;
    	for(var i=1;i<=9;i++){
    		var n="input[name='question_"+i+"']:checked";
    		var v=$(n).val();
    		if(!v){
    			alert("为了得到更好的预测结果，请您选择第"+i+"题的答案。");
    			return;
    		}
    		s=s+parseInt(v);
    	}
    	if(s>=12){
			$("#result_1").show();
			$("#result_2").hide();
			$("#result_3").hide();
		}
		if(s>5&&s<12){
			$("#result_1").hide();
			$("#result_2").show();
			$("#result_3").hide();
		}
		if(s>=0&&s<=5){
			$("#result_1").hide();
			$("#result_2").hide();
			$("#result_3").show();
		}
    }
    </script>
    <script src="#{mb.static '/public/js/svgcheckbox.js' /}"></script>                  