#{extends '/templates/8da.html' /} 
#{set title:'至尊VIP -八达国际官网（8dabet.com）- 八达博天下' /}
#{set keywords:'至尊VIP ，八达国际'/} 
#{set description:''/} 
#{set menu_li:'index_6'/} 
<div id="wrapper">                  
           <div  class="slider" style="height:180px;">
            <!-- slider start -->           
				<img style="height:180px;width:1002px;" src="#{mb.static '/public/images/vip/VipTop01.jpg' /}">
   			<!-- slider end -->                           		
       		</div>   
                           				                       
<div id="wrapper">        		
            <div class="VipWrapper">
               <div class="VipMenu">
            	<ul>
                	<li><a href="/vip.html" >星级首页</a></li>
                    <li><a href="/vip02.html" >VIP特权</a></li>
                    <li><a href="/vip03.html" class="on">常见问题</a></li>
                </ul>
            	</div>
            <div class="VipCon">
            
				<span> <strong>1.</strong> 晋级标准：</span>
            <p>● 一星会员：注册后存款即成为一星会员；<br>
            ● 晋级二星：晋升要求：一周有效投注额达到10万及以上；<br>
            ● 晋级三星：晋升要求：一周有效投注额达到50万及以上；<br>
            ● 晋级四星：晋升要求：一周有效投注额达到100万及以上；<br>
            ● 晋级五星：晋升要求：一周有效投注额达到300万及以上；<br>
            ● 晋级六星：晋升要求：一周有效投注额达到1000万及以上；<br>
            </p>
           
            <span><strong>2.</strong>晋级后会被降级吗？</span>
			   <p> 只要一周有效投注额达到晋级要求，晋级后将终身享受该级别的相应待遇，不会被降级。
            </p>
		 <span><strong>3.</strong>什么是随时洗码</span>
		<p>晋级为四星级以上会员后即可享受“随时洗码”优惠 ，只要您未结算的有效投注额达到100以上，即可在北京时间中午12点后联系我们为您提前结算洗码，无需等到每周一统一发放洗码。 
        </p>
		  <span><strong>4.</strong>如何查询星级级别？</span>        
			   <p>您只需要登录八达国际“会员中心”即可查看到您的星级级别。
            </p>
		 
         		<span><strong>5.</strong> 什么是升级礼金</span>
                <p>         
			   只要您晋级到相应的级别即可享受该级别的升级礼金，如您为2星级会员晋级为6星级会员，即可享受6星级的升级礼金5000元，我们会在升级的当周周一将礼金自动发放到您的游戏账户中，升级礼金只需一倍流水即可取款。
           </p>
          <p align="center">
		  <a href="/reg.html" class="buttom01">快速注册</a>

          </p>
            
            </div>
            </div>

       </div>     
                                                    
</div>