#{extends '/templates/8da.html' /} 
#{set title:'至尊VIP -八达国际官网（8dabet.com）- 八达博天下' /}
#{set keywords:'至尊VIP ，八达国际'/} 
#{set description:''/}  
#{set menu_li:'index_6'/} 
<div id="wrapper">                  
           <div  class="slider" style="height:180px;">
            <!-- slider start -->           
				<img style="height:180px;width:1002px;" src="#{mb.static '/public/images/vip/VipTop01.jpg' /}">
   			<!-- slider end -->                           		
       		</div>                              			                            		
            <div class="VipWrapper">
               <div class="VipMenu">
            	<ul>
                	<li><a href="/vip.html" >星级首页</a></li>
                    <li><a href="/vip02.html" class="on">VIP特权</a></li>
                    <li><a href="/vip03.html">常见问题</a></li>
                </ul>
            	</div>
            <div class="VipCon">
				<ul>
                	<li>
                    	<div class="vl01">                        
                        </div>  
                        <div class="vr">                        
                        	<span>免费豪华海外游</span>
                            <p>
1、5星级的会员一年可申请一次澳门/菲律宾豪华游，6星级的会员半年可申请一次免费澳门/菲律宾豪华游。不但可实地感受八达国际在澳门、菲律宾的实体贵宾厅，更可到AG/BBIN现场观光。<br /><br />
2、提供3000元的机票报销、五星级酒店住宿（2晚）、豪车接送、专业VIP秘书陪同。详情请咨询在线客服 
</p>
                        </div>  
                         <div class="clear"></div>                  
                    </li>
                    
                    <li>
                    	<div class="vl02">                        
                        </div>  
                        <div class="vr">                        
                        	<span>周年礼金年年有</span>
                            <p>
周年礼金：您只需要在八达国际首存满一周年以上，即可享受周年礼金。该礼金无需手动申请，电话客服会在周年的下个月5号致电通知满足条件的会员。并在通知后的24小时内发放，最高礼金为588元，仅需一倍流水即可提现。							</p>
                        </div>                         
                         <div class="clear"></div>                   
                    </li>
                    
                    <li>
                    	<div class="vl03">                        
                        </div>  
                        <div class="vr">                        
                        	<span>升级礼金人人有 最高10,400元</span>
                            <p>
1、会员达到相应晋级要求后，其升级礼金将自动发放到游戏账户中，最高可达10,400元。<br /><br />
2、升级礼金仅需达到一倍流水即可提款（流水：有效投注额）。 
							</p>
                        </div>                          
                        <div class="clear"></div>               
                    </li>
                    
                    <li>
                    	<div class="vl04">                        
                        </div>  
                        <div class="vr">                        
                        	<span>周周有洗码</span>
                            <p>
1、周周有洗码，4-6星级的会员只要有效投注额≥100，即可享受“随时洗码”的专属服务。<br /><br />
2、星级越高保底洗码比例越高，洗码不封顶，用财力证明我们的实力。  
							</p>
                        </div>                          
                         <div class="clear"></div>                 
                    </li>
                    
              
                </ul>
              	<p align="center">
		  		<a href="/reg.html" class="buttom01">快速注册</a>
          	
          		</p>  
            </div>
            </div>  
                                                    
</div>