<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>打地鼠</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="public/MyActive/css/css.css" rel="stylesheet" type="text/css">
<script src="public/MyActive/js/jquery-1.11.1.min.js"></script>
<script src="public/MyActive/js/preloadjs-NEXT.min.js"></script>
<script src="public/MyActive/js/easeljs-0.8.2.min.js"></script>
<script src="public/MyActive/js/tweenjs-NEXT.min.js"></script>
<script src="public/MyActive/js/time.js"></script>
</head>
<body onload="init()">
<div class="cnt">
  <canvas id="canvas" width="720px" height="500px"></canvas>
</div>

<script src="public/MyActive/js/mouse.js"></script> 
<script src="public/MyActive/js/mouseshow.js"></script> 
<script src="public/MyActive/js/score.js"></script> 
<script src="public/MyActive/js/textBtn.js"></script> 
<script src="public/MyActive/js/main.js"></script>
</body>
</html>
