<style>
 .table_09 td{
 font-size:9px;
 }
</style>
<div style="margin-top:10px;">
   <label>用户名：</label><input /> <input type="button"  value="查询"/>
</div>
<div>
   <table class="table_09">
      <tr>
         <td>用户名</td>
         <td>真实姓名</td>
         <td>客户等级</td>
         <td>客户状态</td>
         <td>账户余额</td>
         <td>积分余额</td>
      </tr>
       <tr>
         <td>用户名</td>
         <td>真实姓名</td>
         <td>客户等级</td>
         <td>客户状态</td>
         <td>账户余额</td>
         <td>积分余额</td>
      </tr>
   </table>
   
   

</div>