<script>
Ext.onReady(function() {
	var store = Ext.create('Ext.data.Store', {
        model: 'CreditLog',
        proxy: {
            type: 'ajax',
            url: '/CreditLogApp/getList',
            reader: {
                type: 'json',
                root: 'data',
                idProperty: 'id',
                totalProperty:'total'
            }
        },
        pageSize: 30,
        autoLoad: {start: 0, limit: 30}
        });
	var tabId='${tabId}';
	Ext.define('creditLog.grid', {
	    extend: 'Ext.grid.Panel',
	    requires: [
	        'Ext.grid.RowNumberer',
	        'Ext.data.*',
	        'Ext.grid.*',
	        'Ext.util.*',
	        'Ext.toolbar.Paging'
	    ],
	    xtype: 'locking-grid',
	    id:'grid_${tabId}',
	    viewConfig: {
	        stripeRows: true,
	        enableTextSelection: true
	    },
	    store:store,
	    selModel: {
	        selType: 'checkboxmodel', 
	        mode: 'SINGLE',
	        listeners: {
	        	selectionchange:function(sm, selected, eOpts){
	        	}
	        } 
	    },
	    autoHeight:true,
	    tbar:['->',
		          '起始:',
		          {xtype:'datefield',itemId:'sdate',format: 'Y-m-d',width:100},
		          '结束:',
		          {xtype:'datefield',itemId:'edate',format: 'Y-m-d',width:100},
		          '关键字:',
	              {xtype:'textfield',itemId:'queryKey'},
	              {
		            text:'查询',
		            iconCls: 'icon-search',
		            handler : JBApp.queryFn
		           },{
		            text:'重设',
		            iconCls: 'icon-reset',
		            handler :JBApp.queryResetFn
			       }],
			    bbar: {
		               xtype: 'pagingtoolbar',
		               pageSize: 10,
		               store:store,
		               displayInfo: true
		         },
	    initComponent: function () {
	    	 this.columns = [{
		    	    text     : '单号',
		    	    width    : 180,
		    	    sortable : false,
		    	    dataIndex: 'order_no'
		    	},{
		    	    text     : '创建时间',
		    	    width    : 130,
		    	    sortable : false,
		    	    dataIndex: 'create_date',
		    	    renderer:Ext.util.Format.dateRenderer('m/d/y H:i')
		    	},{
		    	    text     : '交易类型',
		    	    width    : 100,
		    	    sortable : false,
		    	    dataIndex: 'log_type',
		    	    renderer : JBApp.renderer.creditlog
		    	},{
		    	    text     : '用户名',
		    	    width    : 100,
		    	    sortable : false,
		    	    dataIndex: 'login_name'
		    	},{
		    	    text     : '变化前额度',
		    	    width    : 80,
		    	    sortable : false,
		    	    dataIndex: 'org_credit',
		    	    renderer:function(val){
		    	    	if(val>0){
		    	    		return '<span style="color:green">'+val+'</span>';
		    	    	}
		    	    	return '<span style="color:red">'+val+'</span>';
		    	    }
		    	},{
		    	    text     : '变化额度',
		    	    width    : 80,
		    	    sortable : false,
		    	    dataIndex: 'credit',
		    	    renderer:function(val){
		    	    	if(val>0){
		    	    		return '<span style="color:green">'+val+'</span>';
		    	    	}
		    	    	return '<span style="color:red">'+val+'</span>';
		    	    }
		    	},{
		    	    text     : '变化后额度',
		    	    width    : 80,
		    	    sortable : false,
		    	    dataIndex: 'after_credit',
		    	    renderer:function(val){
		    	    	if(val>0){
		    	    		return '<span style="color:green">'+val+'</span>';
		    	    	}
		    	    	return '<span style="color:red">'+val+'</span>';
		    	    }
		    	},{
		    	    text     : '操作人',
		    	    width    : 120,
		    	    sortable : false,
		    	    dataIndex: 'create_user'
		    	},{
		    	    text     : '备注',
		    	    width    : 400,
		    	    sortable : false,
		    	    dataIndex: 'remarks'
		    	}];
	     this.callParent();
	    }
	});
	Ext.getCmp(tabId).add(Ext.create('creditLog.grid'));
});
</script>