<script>

Ext.onReady(function() {
	var required='<span style="color:red;font-weight:bold" data-qtip="Required">*</span>';
	var store = Ext.create('Ext.data.Store', {
        model: 'MoleHit',
        proxy: {
            type: 'ajax',
            url: '/MoleHitApp/getList',
            reader: {
                type: 'json',
                root: 'data',
                idProperty: 'id',
                totalProperty:'total'
            }
        },
        pageSize: 30,
        autoLoad: {start: 0, limit: 30}
        });
	var tabId='${tabId}';
	Ext.define('moleHit.grid', {
	    extend: 'Ext.grid.Panel',
	    requires: [
	        'Ext.grid.RowNumberer',
	        'Ext.data.*',
	        'Ext.grid.*',
	        'Ext.util.*',
	        'Ext.toolbar.Paging'
	    ],
	    xtype: 'locking-grid',
	    id:'grid_${tabId}',
	    viewConfig: {
	        stripeRows: true,
	        enableTextSelection: true
	    },
	    store:store,
	    selModel: {
	        selType: 'checkboxmodel', 
	        mode: 'SINGLE' 
	    },
	    tbar:['->',
	          '起始:',
	          {xtype:'datefield',itemId:'sdate',format: 'Y-m-d',width:100},
	          '结束:',
	          {xtype:'datefield',itemId:'edate',format: 'Y-m-d',width:100},
	          '关键字:',
              {xtype:'textfield',itemId:'queryKey',value:''},
              {
	            text:'查询',
	            iconCls: 'icon-search',
	            handler : JBApp.queryFn
	           },{
	            text:'重设',
	            iconCls: 'icon-reset',
	            handler :JBApp.queryResetFn
		       }],
		    bbar: {
	               xtype: 'pagingtoolbar',
	               pageSize: 10,
	               store:store,
	               displayInfo: true
	         },
	    initComponent: function () {
	        this.columns = [{
        	    text     : '用户名',
        	    width    : 180,
        	    sortable : false,
        	    dataIndex: 'login_name'
    	    },{
        	    text     : '创建时间',
        	    width    : 90,
        	    sortable : false,
        	    dataIndex: 'create_date',
        	    renderer:Ext.util.Format.dateRenderer('m-d H:i')
        	},{
        	    text     : '砸中次数',
        	    width    : 100,
        	    sortable : false,
        	    dataIndex: 'hitcount'
        	},{
        	    text     : '创建时间',
        	    width    : 110,
        	    sortable : false,
        	    dataIndex: 'create_date',
        	    renderer:Ext.util.Format.dateRenderer('m-d H:i')
        	}];
	     this.callParent();
	    }
	});
	Ext.getCmp(tabId).add(Ext.create('moleHit.grid'));
});
</script>