 <script>
 Ext.onReady(function() {
	 var form=Ext.create('Ext.form.Panel', {
	        bodyStyle:'padding:5px 5px 0',
	        width: 100,
	        fieldDefaults: {
	            labelWidth: 75
	        },
	        items: [{fieldLabel: '原密码',xtype:'textfield',inputType:'password', name:'org_password',anchor: '96%',allowBlank: false,minLength:6,maxLength:16},
	                {fieldLabel: '新密码',xtype:'textfield',inputType:'password', name:'new_password',anchor: '96%',allowBlank: false,minLength:6,maxLength:16},
	                {fieldLabel: '新密码确认',xtype:'textfield',inputType:'password', name:'re_password',anchor: '96%',allowBlank: false,minLength:6,maxLength:16}],
     buttons:[{xtype: 'button',iconCls:'icon-save',text: '保存数据',handler:function(){
    	 if(this.up('form').getForm().isValid()){
    	     form.submit({
          	   url:'/passwordApp/modify',
                 success: function(f, action) {
                    Ext.Msg.alert('保存成功', action.result.message);
                    form.up('window').hide();
                 },
                 failure: function(form, action) {
                     Ext.Msg.alert('保存失败', action.result.message);
                 }
             });
    	 }
     }}]
  });
	 
	 var win=Ext.create('widget.window', {
         title: '修改密码',
         closable: false,
         closeAction: 'hide',
         renderTo:'${tabId}',
         iconCls:'icon-window',
         width: 400,
         height: 230,
         layout: 'fit',
         bodyStyle: 'padding: 5px;',
         items: [form],
         listeners:{
	            hide:function(w){
	            	this.down('form').getForm().reset();
	            }
         }
     });
	 
	 win.show();

    
 });
</script>