<script>
Ext.onReady(function() {
	var store = Ext.create('Ext.data.Store', {
        model: 'RankingList',
        proxy: {
            type: 'ajax',
            url: '/RankingListApp/getList',
            reader: {
                type: 'json',
                root: 'data',
                idProperty: 'id',
                totalProperty:'total'
            }
        },
        pageSize: 30,
        autoLoad: {start: 0, limit: 30}
        });
	var tabId='${tabId}';
	Ext.define('rankingList.grid', {
	    extend: 'Ext.grid.Panel',
	    requires: [
	        'Ext.grid.RowNumberer',
	        'Ext.data.*',
	        'Ext.grid.*',
	        'Ext.util.*',
	        'Ext.toolbar.Paging'
	    ],
	    xtype: 'locking-grid',
	    id:'grid_${tabId}',
	    viewConfig: {
	        stripeRows: true,
	        enableTextSelection: true
	    },
	    store:store,
	    selModel: {
	        selType: 'checkboxmodel', 
	        mode: 'SINGLE',
	        listeners: {
	        	selectionchange:function(sm, selected, eOpts){
	        		if(selected.length==1){
	        		  Ext.getCmp('grid_${tabId}').down("#updatebtn").setDisabled(false);
	        		  Ext.getCmp('grid_${tabId}').down("#deletebtn").setDisabled(false);
	        		}else{
        			  Ext.getCmp('grid_${tabId}').down("#updatebtn").setDisabled(true);
        			  Ext.getCmp('grid_${tabId}').down("#deletebtn").setDisabled(true);
	        		}
	        	}
	        } 
	    },
	    autoHeight:true,
	    delconfig:{
	    	url:'/RankingListApp/deleteRankingList',
	    	tip:'你确定要删除你选择的记录么?',
	    	idcode:'ranking_id'
	    },
	    addconfig:{
	       title:'新增排行记录',
	       proFn:function(win,form){
	   		   win.down('#idfield').setReadOnly(false);
	       }
	    },
	    updateconfig:{
	       proFn:function(select,win,form){
	    	   var data={
	    	 			kact:'2',  
	    	 			"ranking_list.trophy_name":select.get('trophy_name'),
	    	 			"ranking_list.trophy_code":select.get('trophy_code'),
	    	 			"ranking_list.trophy_count":select.get('trophy_count'),
	    	 			"ranking_list.login_name":select.get('login_name'),
	    	 			"ranking_list.ranking_id":select.get('ranking_id'),
	    	 			"ranking_list.cost":select.get('cost')
	    	 		  };
   	 		  form.getForm().setValues(data);
   	 		  win.down('#idfield').setReadOnly(true);
   	 		  win.setTitle("修改奖品:"+select.get('trophy_name'));
	       }
	    },
	    tbar:[{
		    	xtype: 'button', 
		    	iconCls:'icon-add',
		    	text: '添加',
		    	handler:JBApp.addFn
		    	},
		    	{
		    	  xtype: 'button', 
		    	  iconCls:'icon-update',
		    	  text: '修改',
		    	  disabled:true,
		    	  itemId:'updatebtn',
		    	  handler:JBApp.updateFn
	    	   },
	    	   {
	        	 xtype: 'button', 
	        	 iconCls:'icon-delete',
	        	 text:'删除',
	        	 disabled:true,
	        	 itemId:'deletebtn',
	        	 handler:JBApp.deleteFn
		        },'->',
		          '起始:',
		          {xtype:'datefield',itemId:'sdate',format: 'Y-m-d',width:100},
		          '结束:',
		          {xtype:'datefield',itemId:'edate',format: 'Y-m-d',width:100},
		          '关键字:',
	              {xtype:'textfield',itemId:'queryKey'},
	              {
		            text:'查询',
		            iconCls: 'icon-search',
		            handler : JBApp.queryFn
		           },{
		            text:'重设',
		            iconCls: 'icon-reset',
		            handler :JBApp.queryResetFn
			       }],
			    bbar: {
		               xtype: 'pagingtoolbar',
		               pageSize: 10,
		               store:store,
		               displayInfo: true
		         },
	    initComponent: function () {
	        this.columns = [{
	    	    text     : '用户名',
	    	    width    : 130,
	    	    sortable : false,
	    	    dataIndex: 'login_name'
	    	},{
	    	    text     : '奖品名',
	    	    width    : 330,
	    	    sortable : false,
	    	    dataIndex: 'trophy_name'
	    	},{
	    	    text     : '奖品代码',
	    	    width    : 230,
	    	    sortable : false,
	    	    dataIndex: 'trophy_code'
	    	},{
	    	    text     : '奖品数量',
	    	    width    : 200,
	    	    sortable : false,
	    	    dataIndex: 'trophy_count'
	    	},{
	    	    text     : '价值',
	    	    width    : 200,
	    	    sortable : false,
	    	    dataIndex: 'cost'
	    	},{
	    	    text     : '创建时间',
	    	    width    : 150,
	    	    sortable : false,
	    	    dataIndex: 'create_date'
	    	}];
	        var form=Ext.create('Ext.form.Panel', {
		        bodyStyle:'padding:5px 5px 0',
		        width: '100%',
		        fieldDefaults: {
		            labelWidth: 75
		        },
		        items: [{
		            xtype: 'container',
		            anchor: '100%',
		            layout:'column',
		            bodyStyle:'margin:5px 5px 5px 5px',
		            items:[{
		                xtype: 'container',
		                bodyStyle:'margin:5px 5px 5px 5px',
		                columnWidth:.98,
		                layout: 'anchor',
		                items: [{fieldLabel: '用户名',xtype:'textfield',  name: 'ranking_list.login_name',anchor: '95%'},
		                        {fieldLabel: '奖品名字',xtype:'textfield',name: 'ranking_list.trophy_name',anchor: '95%'},
		                        {fieldLabel: '奖品代码',xtype:'textfield',name: 'ranking_list.trophy_code',anchor: '95%'},
		                        {fieldLabel: '奖品数量',xtype:'textfield',name: 'ranking_list.trophy_count',anchor: '95%',value:'1'},
		                        {fieldLabel: '奖品价值',xtype:'textfield',name: 'ranking_list.cost',anchor: '95%'}]
		            },{xtype:'hidden',name:'kact'},{itemId:'idfield',xtype:'hidden',name:'ranking_list.ranking_id'}]
		        }],
		       saveConfig:{
		    	 url:'/RankingListApp/saveRankingList',
		    	 store:store
		       },
               buttons:[{xtype: 'button',iconCls:'icon-save',text: '保存数据',handler:JBApp.saveFn},
		    	        {xtype: 'button',iconCls:'icon-close',text: '关闭窗口',handler:function(){this.up('window').hide();}}]
            });
		 var win=Ext.create('widget.window', {
	            title: '--',
	            closable: true,
	            closeAction: 'hide',
	            renderTo:'${tabId}',
	            iconCls:'icon-window',
	            width: 400,
	            height: 360,
	            layout: 'fit',
	            bodyStyle: 'padding: 5px;',
	            items: [form],
	            listeners:{
		            hide:function(w){
		            	this.down('form').getForm().reset();
		            }
	            }
	        });
		
		 this.win=win;
	     this.callParent();
	    }
	});
	Ext.getCmp(tabId).add(Ext.create('rankingList.grid'));
});
</script>