<script>
Ext.onReady(function() {
	var required='<span style="color:red;font-weight:bold" data-qtip="Required">*</span>';
	var store = Ext.create('Ext.data.Store', {
        model: 'WashRec',
        proxy: {
            type: 'ajax',
            url: '/WashRecApp/getList',
            extraParams:{},
            reader: {
                type: 'json',
                root: 'data',
                idProperty: 'id',
                totalProperty:'total'
            }
        },
        pageSize: 20,
        autoLoad: {start: 0, limit: 20}
        });
	var tabId='${tabId}';
	Ext.define('WashRec.grid', {
	    extend: 'Ext.grid.Panel',
	    requires: [
	        'Ext.grid.RowNumberer',
	        'Ext.data.*',
	        'Ext.grid.*',
	        'Ext.util.*',
	        'Ext.toolbar.Paging'
	    ],
	    xtype: 'locking-grid',
	    id:'grid_${tabId}',
	    viewConfig: {
	        stripeRows: true,
	        enableTextSelection: true
	    },
	    store:store,
	    selModel: {
	        selType: 'checkboxmodel', 
	        mode: 'SINGLE',
	        listeners: {
	        	selectionchange:function(sm, selected, eOpts){
	        		if(selected.length==1){
	        			var s=selected[0];
	        		    Ext.getCmp('grid_${tabId}').down("#updatebtn").setDisabled(false);
	        		}else{
	        			Ext.getCmp('grid_${tabId}').down("#updatebtn").setDisabled(true);

	        		}
	        	}
	        } 
	    },
	    autoHeight:true,
	    auditconfig:{
	    	url:'/WashRecApp/auditRecs',
	    	tip:'你确定要系统开始洗码吗?',
	    	idcode:'rec_id'
	    },
	    updateconfig:{
		       proFn:function(select,win,form){
		    	   var data={
		    	 			kact:'2',  
		    	 			"rec.rec_id":select.get('rec_id'),
		    	 			"rec.login_name":select.get('login_name'),
		    	 			"rec.start_time":select.get('start_time'),
		    	 			"rec.water_rate":select.get('water_rate'),
		    	 			"rec.sum_credit":select.get('sum_credit'),
		    	 			"rec.cust_level":select.get('cust_level'),
		    	 			"rec.end_time":select.get('end_time'),
		    	 			"rec.net_credit":select.get('net_credit'),
		    	 			"rec.water_credit":select.get('water_credit'),
		    	 			"rec.remark":select.get('remark')
		    	 		  };
	   	 		  form.getForm().setValues(data);
	   	 		  win.setTitle("修改洗码额度:"+select.get('login_name'));
		       }
		    },
	    tbar:[{
	        	 xtype: 'button', 
	        	 iconCls:'icon-update',
	        	 text:'修改',
	        	 disabled:true,
	        	  itemId:'updatebtn',
		    	 handler:JBApp.updateFn
		        },{
		        	 xtype: 'button', 
		        	 iconCls:'icon-auditing',
		        	 text:'全部提交',
		        	 configId:'auditconfig',
		        	 handler:JBApp.commonFn
			       },'->',
		          '起始:',
		          {xtype:'datefield',itemId:'sdate',format: 'Y-m-d',width:100},
		          '结束:',
		          {xtype:'datefield',itemId:'edate',format: 'Y-m-d',width:100},
		          '关键字:',
	              {xtype:'textfield',itemId:'queryKey',value:'sj'},
	              {
		            text:'查询',
		            iconCls: 'icon-search',
		            handler : JBApp.queryFn
		           },{
		            text:'重设',
		            iconCls: 'icon-reset',
		            handler :JBApp.queryResetFn
			       }],
			    bbar: {
		               xtype: 'pagingtoolbar',
		               pageSize: 10,
		               store:store,
		               displayInfo: true
		         },
	    initComponent: function () {
	        this.columns = [{
        	    text     : '创建时间',
        	    width    : 100,
        	    sortable : false,
        	    dataIndex: 'create_date',
        	    renderer:Ext.util.Format.dateRenderer('m/d H:i')
        	},{
	        	    text     : '任务名',
	        	    width    : 100,
	        	    sortable : false,
	        	    dataIndex: 'task_name'
	        	},{
	        	    text     : '用户名',
	        	    width    : 80,
	        	    sortable : false,
	        	    dataIndex: 'login_name'
	        	    
	        	},{
	        	    text     : '客户级别',
	        	    width    : 80,
	        	    sortable : false,
	        	    dataIndex: 'cust_level'
	        	    
	        	},{
	        	    text     : '返水比例',
	        	    width    : 80,
	        	    sortable : false,
	        	    dataIndex: 'water_rate'
	        	    
	        	},{
	        	    text     : '输赢额',
	        	    width    : 80,
	        	    sortable : false,
	        	    dataIndex: 'net_credit'
	        	},{
	        	    text     : '投注总额',
	        	    width    : 80,
	        	    sortable : false,
	        	    dataIndex: 'sum_credit'
	        	},{
	        	    text     : '返水额度',
	        	    width    : 80,
	        	    sortable : false,
	        	    dataIndex: 'water_credit'
	        	},{
	        	    text     : '开始时间',
	        	    width    : 100,
	        	    sortable : false,
	        	    dataIndex: 'start_time',
	        	    renderer:Ext.util.Format.dateRenderer('m/d H:i')
	        	},{
	        	    text     : '结束时间',
	        	    width    : 100,
	        	    sortable : false,
	        	    dataIndex: 'end_time',
	        	    renderer:Ext.util.Format.dateRenderer('m/d H:i')
	        	},{
	        	    text     : '状态',
	        	    width    : 80,
	        	    sortable : false,
	        	    dataIndex: 'flag',
	        	    renderer:function(v){
	        	    	if(v==0){
	        	    		return "待洗码";
	        	    	}
	        	    	if(v==1){
	        	    		return "<span style='color:green'> 已完成</span>";
	        	    	}
	        	    	return v;
	        	    }
	        	},{
	        	    text     : '操作人',
	        	    width    : 120,
	        	    sortable : false,
	        	    dataIndex: 'create_user'
	        	},{
	        	    text     : '备注',
	        	    width    : 150,
	        	    sortable : false,
	        	    dataIndex: 'remark'
	        	}];
	        var form=Ext.create('Ext.form.Panel', {
		        bodyStyle:'padding:5px 5px 0',
		        width: '100%',
		        fieldDefaults: {
		            labelWidth: 75
		        },
		        items: [{
		            xtype:'fieldset',
		            title: '洗码单信息',
		            collapsible: true,
		            defaultType: 'textfield',
		            layout: 'anchor',
		            defaults: {
		                anchor: '100%'
		            },
		            items :[{
			            xtype: 'container',
			            anchor: '100%',
			            layout:'column',
			            bodyStyle:'margin:5px 5px 5px 5px',
			            items:[{
			                xtype: 'container',
			                bodyStyle:'margin:5px 5px 5px 5px',
			                columnWidth:.48,
			                layout: 'anchor',
			                defaults: {
				                anchor: '98%'
				            },
			                items: [
			                   {fieldLabel: '用户名',xtype:'textfield',name: 'rec.login_name',readOnly:true},
			                   {fieldLabel: '开始时间',xtype:'datefield',name: 'rec.start_time',format:'Y-m-d H:i:s',readOnly:true},
			                   {fieldLabel: '返水比例',xtype:'textfield',name: 'rec.water_rate',readOnly:true},
			                   {fieldLabel: '投注额度',xtype:'textfield',name: 'rec.sum_credit',readOnly:true}
			                   ]
			            },{
			                xtype: 'container',
			                columnWidth:.48,
			                bodyStyle:'margin:5px 5px 5px 5px',
			                layout: 'anchor',
			                defaults: {
				                anchor: '98%'
				            },
			                items: [{fieldLabel: '客户级别',xtype:'textfield',name: 'rec.cust_level',readOnly:true},
			                        {fieldLabel: '结束时间',xtype:'datefield',name: 'rec.end_time',readOnly:true,format:'Y-m-d H:i:s'},
			                        {fieldLabel: '输赢额度',xtype:'textfield',name: 'rec.net_credit',readOnly:true},
			                        {fieldLabel: '返水额度',xtype:'textfield',name: 'rec.water_credit'}
			                        ]
			            },
			            {xtype:'hidden',name:'kact'},{xtype:'hidden',name:'rec.rec_id'}]
			        }]
		        },{fieldLabel: '备注',xtype:'textfield',name: 'rec.remark',anchor: '98%'}],
		       saveConfig:{
		    	 url:'/WashRecApp/saveRec',
		    	 store:store
		       },
               buttons:[{xtype: 'button',iconCls:'icon-save',text: '提交数据',handler:JBApp.saveFn},
		    	        {xtype: 'button',iconCls:'icon-close',text: '关闭窗口',handler:function(){this.up('window').hide();}}]
            });
		 var win=Ext.create('widget.window', {
	            title: '--',
	            closable: true,
	            closeAction: 'hide',
	            renderTo:'${tabId}',
	            iconCls:'icon-window',
	            width: 700,
	            height: 300,
	            layout: 'fit',
	            bodyStyle: 'padding: 5px;',
	            items: [form],
	            
	            listeners:{
		            hide:function(w){
		            	this.down('form').getForm().reset();
		            }
	            }
	        });
		
		 this.win=win;
	     this.callParent();
	    }
	});
	Ext.getCmp(tabId).add(Ext.create('WashRec.grid'));
});
</script>