<script>
Ext.onReady(function() {
	var store = Ext.create('Ext.data.Store', {
	model: 'WinList',
	proxy: {
		type: 'ajax',
		url: '/WinListApp/getList',
		reader: {
			type: 'json',
			root: 'data',
			totalProperty:'total'
		}
	},
	pageSize: 30,
	autoLoad: {start: 0, limit: 30}
});

var timefield=new Ext.form.TimeField({  
    fieldLabel:'时间',  
    empty:'请选择时间',  
    minValue:'10:00 AM',  
    maxValue:'14:35 PM',  
    increment:5,  
    invalidText:'日期格式无效，请选择时间或输入有效格式的时间'  
});  	
	

var tabId='${tabId}';
Ext.define('winlist.grid', {
		extend: 'Ext.grid.Panel',
		requires: [
			'Ext.grid.RowNumberer',
			'Ext.data.*',
			'Ext.grid.*',
			'Ext.util.*',
			'Ext.toolbar.Paging'],
		xtype: 'locking-grid',
		id:'grid_${tabId}',
		viewConfig: {
		stripeRows: true,
		enableTextSelection: true,
		loadingText: '正在加载数据...'
	},
	  
	store:store,
	selModel: {
		selType: 'checkboxmodel', 
		mode: 'SIMPLE'
	},

	addconfig:{
		title:'新增中奖榜',
		proFn:function(win,form){
			form.getForm().setValues({
				"winlist.upload_date": new Date(),
				"winlist.publish_date": null,
				"winlist.publish_status": 0
			});
		}
	},

	updateconfig:{
		proFn:function(select,win,form){
			var data={
				kact:'2',  
				"winlist.win_id":select.get('win_id'),
				"winlist.platform":select.get('platform'),
				"winlist.game_name":select.get('game_name'),
				"winlist.login_name":select.get('login_name'),
				"winlist.win_amount":select.get('win_amount'),
				"winlist.upload_date":new Date(),
				"winlist.publish_date": null,
				"winlist.publish_status": 0,
				"winlist.img_path":select.get('img_path')
			};
			form.getForm().setValues(data);
			win.setTitle("修改中奖榜");
		}
	},   

	autoHeight:true,
	dockedItems: [{
		xtype: 'toolbar',
		dock: 'top',
		items: [{
				xtype: 'button', 
				iconCls:'icon-add',
				text: '新增',
				handler:JBApp.addFn
			},{
				xtype: 'button', 
				iconCls:'icon-update',
				text: '修改',
				handler:JBApp.updateFn
			},{
				xtype: 'button', 
				iconCls:'icon-delete',
				text: '删除',
				handler:function(){
					var select = this.up('grid').getSelectionModel().getSelection();
					if (select.length < 1) {
						Ext.MessageBox.alert('提示信息', '至少选择一条记录操作');
						return;
					}
					var selects="";
					for(var i=0;i<select.length;i++){
						selects+=select[i].get('win_id')+",";
					}
					selects=selects.substr(0,selects.length-1);
					Ext.Msg.confirm('系统提示','亲，确定要删除选中项吗？',
						function(btn){
							if(btn=='yes'){
								Ext.Ajax.request( {
									url : '/WinListApp/deleteWins?winIds='+selects,
									method : 'post',
									success : function(response, options) {
										Ext.MessageBox.alert('提示信息', '删除成功。');
										store.reload();
									},
									failure : function() {
										Ext.MessageBox.alert('提示信息', '删除失败。');
										store.reload();
									}
								});					
							}
	        			},this);	
					}
				},{
					xtype: 'button', 
					iconCls:'icon-auditing',
					text: '发布',
					handler:function(){
						var select = this.up('grid').getSelectionModel().getSelection();
						if (select.length < 1) {
							Ext.MessageBox.alert('提示信息', '至少选择一条记录操作');
							return;
						}
						var selects="";
						for(var i=0;i<select.length;i++){
							if(select[i].get('platform')==""){
								Ext.MessageBox.alert('提示信息', '平台为空，不能发布！');
								return;
							}
							if(select[i].get('game_name')==""){
								Ext.MessageBox.alert('提示信息', '游戏名为空，不能发布！');
								return;
							}
							if(select[i].get('login_name')==""){
								Ext.MessageBox.alert('提示信息', '用户名为空，不能发布！');
								return;
							}
							if(select[i].get('win_amount')==""){
								Ext.MessageBox.alert('提示信息', '中奖金额为空，不能发布！');
								return;
							}	
							if(select[i].get('img_path')==""){
								Ext.MessageBox.alert('提示信息', '图片路径为空，不能发布！');
								return;
							}								
							selects+=select[i].get('win_id')+",";
						}

						selects=selects.substr(0,selects.length-1);
						Ext.Msg.confirm('系统提示','亲，确定要发布选中项吗？',
							function(btn){
								if(btn=='yes'){
									Ext.Ajax.request( {
										url : '/WinListApp/publishWins?winIds='+selects,
										method : 'post',
										success : function(response, options) {
											Ext.MessageBox.alert('提示信息', '发布成功。');
											store.reload();
										},
										failure : function() {
											Ext.MessageBox.alert('提示信息', '发布失败。');
											store.reload();
										}
									});					
								}
		        			},this);	
						}
					},{					
						iconCls:'icon-reset',
						text: '导入中奖榜',
						handler:function(){
							this.up('grid').importWin.show();
						}
					},{					
						iconCls:'icon-reset',
						text: '下载模板',
						handler: downloadTemplate
					},'->',
					'发布起始:', {xtype:'datefield',itemId:'sdate',format: 'Y-m-d',width:100},
					'发布结束:', {xtype:'datefield',itemId:'edate',format: 'Y-m-d',width:100},
					'关键字:', {xtype:'textfield',itemId:'queryKey'},
					{
						text:'查询',
						iconCls: 'icon-search',
						handler : JBApp.queryFn
					}]
			    }],
	
				bbar: {
					xtype: 'pagingtoolbar',
					pageSize: 10,
					store:store,
					displayInfo: true
				},
				
				initComponent: function () {
					this.columns = [{
						text	 : '中奖编号',
						width    : 100,
						sortable : false,
						dataIndex: 'win_id'
					},{
						text	 : '平台',
						width    : 100,
						sortable : false,
						dataIndex: 'platform'
					},{
					    text     : '游戏名称',
					    width    : 100,
					    sortable : false,
					    dataIndex: 'game_name'
					},{
						text     : '用户名',
					    width    : 100,
					    sortable : false,
					    dataIndex: 'login_name'
					},{
					    text     : '中奖金额',
					    width    : 80,
					    sortable : false,
					    dataIndex: 'win_amount'
					},{
					    text     : '图片路径',
					    width    : 320,
					    sortable : false,
					    dataIndex: 'img_path'
					},{
						text     : '上传日期',
					    width    : 160,
					    sortable : false,
					    dataIndex: 'upload_date',
					    renderer:Ext.util.Format.dateRenderer('Y-m-d H:i:s')
					},{
						text     : '发布日期',
					    width    : 160,
					    sortable : false,
					    dataIndex: 'publish_date',
					    renderer:Ext.util.Format.dateRenderer('Y-m-d H:i:s')
					},{
					    text     : '状态',
					    width    : 60,
					    sortable : false,
					    dataIndex: 'publish_status',
					    renderer:function(v){
					    	if(0==v){
					    		return '<span style="color:green">未发布</span>';
					    	}else{
					    		return '<span style="color:red">已发布</span>';
					    	}
					    }
					}];
			        
			        var importForm=Ext.create('Ext.form.Panel', {
			            bodyPadding: 10,
			            items: [{
			                xtype: 'filefield',
			                name: 'winlist_file',
			                fieldLabel: '上传',
			                labelWidth: 50,
			                msgTarget: 'side',
			                allowBlank: false,
			                anchor: '100%',
			                buttonText: '选择中奖榜Excel文件'
			            }],
			            buttons: [{
			                text: '导入Excel文件',
			                handler: function() {
			                    var form = this.up('form').getForm();
			                    if(form.isValid()){
			                        form.submit({
			                            url: '/WinListApp/importExcel',
			                            type:'ajax',
			                            waitMsg: '正在导入文件...',
			                            success: function(fp, action) {
			                              Ext.Msg.alert('导入成功', action.result.message);
			                              form.findField('winlist_file').setRawValue('');
			                              importForm.up('window').hide();
			                              store.reload();
			                            },
			                            failure: function(form, action) {
			                                Ext.Msg.alert('导入失败', action.result.message);
			                            }
			                        });
			                    }
			                }
			            }]
			        });
			        
			        var importWin=Ext.create('widget.window', {
			            title: '导入中奖榜数据',
			            closable: true,
			            closeAction: 'hide',
			            renderTo:'${tabId}',
			            iconCls:'icon-window',
			            width: 600,
			            height: 150,
			            layout: 'fit',
			            bodyStyle: 'padding: 5px;',
			            items: [importForm],
			            listeners:{
				            hide:function(w){
				            	this.down('form').getForm().reset();
				            }
			            }
			        });
			        
			        var form=Ext.create('Ext.form.Panel', {
				        bodyStyle:'padding:5px 5px 0',
				        width: '100%',
				        fieldDefaults: {
				            labelWidth: 75
				        },
				        items: [{
				            xtype: 'container',
				            anchor: '100%',
				            layout:'column',
				            bodyStyle:'margin:5px 5px 5px 5px',
				            items:[{
				                xtype: 'container',
				                bodyStyle:'margin:5px 5px 5px 5px',
				                columnWidth:.48,
				                layout: 'anchor',
				                items: [{fieldLabel: '平台',xtype:'textfield',name: 'winlist.platform',anchor: '95%',allowBlank: false},
				                        {fieldLabel: '游戏名称',xtype:'textfield',name:'winlist.game_name',anchor: '95%',minValue: 0,allowBlank: false},
				                        {fieldLabel: '用户名',xtype:'textfield',name: 'winlist.login_name',anchor: '95%',allowBlank: false}]
				            },{
				                xtype: 'container',
				                columnWidth:.48,
				                bodyStyle:'margin:5px 5px 5px 5px',
				                layout: 'anchor',
				                items: [{fieldLabel: '中奖金额',xtype:'numberfield',name:'winlist.win_amount',anchor: '95%',minValue: 0,allowBlank: false},
				                        {id:'upload_date',fieldLabel:'上传日期', xtype:'datefield', name:'winlist.upload_date', format: 'Y-m-d H:i:s', anchor:'95%', allowBlank:true},
				                        {id:'publish_date',fieldLabel:'发布日期', xtype:'datefield', name:'winlist.publish_date', format: 'Y-m-d H:i:s',anchor:'95%', allowBlank:true}]
				            },{xtype:'hidden',name:'kact'},{xtype:'hidden',name:'winlist.win_id'}]
				        },{fieldLabel: '图片路径',xtype:'textfield',name:'winlist.img_path',anchor: '95%', allowBlank: false}],
				       
				       saveConfig:{
				    	 url:'/WinListApp/saveWinList',
				    	 store:store
				       },
		               buttons:[{xtype: 'button',iconCls:'icon-save',text: '保存数据',handler:JBApp.saveFn},
				    	        {xtype: 'button',iconCls:'icon-close',text: '关闭窗口',handler:function(){this.up('window').hide();}}]
		            });
			        
			        var win=Ext.create('widget.window', {
			            title: '--',
			            closable: true,
			            closeAction: 'hide',
			            renderTo:'${tabId}',
			            iconCls:'icon-window',
			            width: 600,
			            height: 250,
			            layout: 'fit',
			            bodyStyle: 'padding: 5px;',
			            items: [form],
			            listeners:{
				            hide:function(w){
				            	this.down('form').getForm().reset();
				            }
			            }
			        });
			        this.importWin=importWin;
			        this.win=win;
					this.callParent();
			    }
			});
			Ext.getCmp(tabId).add(Ext.create('winlist.grid'));
		});
		function downloadTemplate() {
			window.open("/public/xls/template_winlist.xls");
		}
</script>