<!-- 
<div class="years-content" id="years-content">
   <a href="javascript:closeYears();" class="btn-close">&nbsp;</a>
   <ul>
        	<li class="m1"><a href="/promotion/20"></a></li>
            <li class="m2"><a href="/10years/index.html" target="_blank"></a></li>
            <li class="m3"><a href="/promotion/21"></a></li>
            <li class="m4"><a href="/promotion/22"></a></li>                
   </ul>
</div>
 -->
<script>
    function closeYears(){
    	/*var display =$('#years-content').css("display");
    	if(display=="none"){
    		$('#wrapper').hide();
    		$('#years-content').slideDown("show");
    	}else{
    		$('#wrapper').slideDown("show");
    		$('#years-content').hide(1000);
    	}*/
    }
    function showYears(){
    	//$('#wrapper').hide();
		//$('#years-content').slideDown("show");
    }
    
</script>

