#{extends '/templates/8da.html' /}                               			                                                	
<div id="wrapper" class="MainWrap">                                 
  
      #{include '/templates/help_left.html'/}        	 
	  <div class="UserRight ArticleCont">
   	 <fieldset>
   	 <div class="SYCentBlockWrap2">
           	<div class="InTit"><span>#{get 'sub_title' /}</span></div>
           	#{doLayout /}
      </div>
      </fieldset>
</div>   
</div>                           