<div class="MenuLeft">
			<ul>
				<li><a href="/about.html" class="">公司简介</a></li>
				<li><a href="/license.html" class="">博彩牌照</a></li>
				<li><a href="/contact.html" class="">联系我们</a></li>
				<li><a href="/rule.html" class="">规则条例</a></li>
				<li><a href="/faq.html" class="">常见问题</a></li>
				<li><a href="/terms.html" class="">博彩责任</a></li>
				<li><a href="/help.html" class="">帮助中心</a></li>
			</ul>
			<!-- 
			<a href="/promotion.html">
			<img src="#{mb.static '/public/images/l_Banner.jpg' /}" alt="" width="245" /></a> -->
</div>