#{extends '/templates/8da.html' /} 
#{set keywords:'电子游艺，八达国际，申博电子游戏，波音电子游戏，电子老虎机。'/} 
#{set description:'八达国际提供众多电子游戏项目，集成PT电子游戏，申博电子游戏，波音电子游戏，内设百余款电子老虎机，桌面游戏，棋牌游戏，总有一款适合您的游戏。'/}                       			                                                	                        			                                                	
#{set menu_li:'index_2'/}  
<style>
.bolda{
color:#Ff0;
font-weight:bold;
}
</style>
<script>
   function tf(mode,ptcode){
	   
	   
   }
</script>
<div id="wrapper" class="p-main ma"> 
   		 <div  class="p-nav">
   		 	<div class="p-navm l"><a href="/pp_egame_hot.html" id="p-nav-on">PP电子游戏</a></div>
    		<div class="p-navl l"><a href="/mghotgame.html" id="p-nav-on">MG电子游戏</a></div>
         	<div  class="p-navl l"><a href="#{mb.forward url:'/pt_egame_hot.html',uname:session.get('username')/}" >PT电子游戏</a></div>
            <div class="p-navl l"><a href="/bbin_egame.html" id="p-nav-on">BBIN电子游戏</a></div>
    		<div class="p-navl l"><a href="/ag_egame_hot.html" id="p-nav-on">AG电子游戏</a></div>
    		<div class="p-navl l"><a href="/sb_egame_hot.html" id="p-nav-on">申博电子游戏</a></div>
         </div>
         <div class="p-img">
		    <div class="p-imgl l">
		     
				<div class="P-imgBtn Btn2 BtnSize_B1"><a href="public/ptsetup.exe" target="_blank">客户端下载</a></div>
		      <div class="p-imglsz">
		       <span>累计奖池：</span>
		        <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/sw flash.cab#version=7,0,0,0" width="208" height="26">
		          <param name="movie" value="http://tickers.playtech.com/jackpots/new_jackpot.swf?info=2&amp;casino=playtech&amp;font_face=Arial&amp;bold=true&amp;currency=cny&amp;font_size=24&amp;bg_color=000000&amp;font_color=FFDF0F">
		          <param name="quality" value="high">
		          <param name="wmode" value="transparent">
		          <embed src="http://tickers.playtech.com/jackpots/new_jackpot.swf?info=2&amp;casino=playtech&amp;font_face=Arial&amp;bold=true&amp;font_size=24&amp;bg_color=000000&amp;font_color=FFDF0F" quality="high" bgcolor="#000000" width="180" height="26" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash">
		        </object>
		      </div>
		    </div>
		
		  </div>

         <div class="p-jc">
         <div class="p-jc_Title">累积奖池</div>
   <div class="jc-c_Box">
   	    <div class="jc-c l">
            	<div class="jc-cs" >时尚水果乐园</div>
                <div class="jc-cx">
                   <embed src="http://tickers.playtech.com/jackpots/new_jackpot.swf?font_face=arial&amp;bold=true&amp;font_color=FF3300&amp;bg_color=ffffff&amp;currency=cny&amp;font_size=22&amp;sign_align=right&amp;update=--------&amp;info=1&amp;casino=playtech&amp;game=fnfrj1" quality="high" bgcolor="#1E1E1E" width="135" height="24" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash"> </embed>
                </div>
          </div>
          <div class="jc-c l">
            	<div class="jc-cs">角斗士奖池版</div>
                <div class="jc-cx">
                    <embed src="http://tickers.playtech.com/jackpots/new_jackpot.swf?font_face=arial&amp;bold=true&amp;font_color=FF3300&amp;bg_color=ffffff&amp;currency=cny&amp;font_size=22&amp;sign_align=right&amp;update=--------&amp;info=1&amp;casino=playtech&amp;game=glrjj-1" quality="high" bgcolor="#1E1E1E" width="135" height="24" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash">
                </div>
            </div>
          <div class="jc-c l">
            	<div class="jc-cs">日日生财</div>
                <div class="jc-cx">
                <embed src="http://tickers.playtech.com/jackpots/new_jackpot.swf?font_face=arial&amp;bold=true&amp;font_color=FF3300&amp;bg_color=ffffff&amp;currency=cny&amp;font_size=22&amp;sign_align=right&amp;update=--------&amp;info=1&amp;casino=playtech&amp;game=ririshc-1" quality="high" bgcolor="#1E1E1E" width="135" height="24" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash">
                </div>
            </div>
          <div class="jc-c l">
            	<div class="jc-cs">奥林匹斯之王</div>
                <div class="jc-cx">
                <embed src="http://tickers.playtech.com/jackpots/new_jackpot.swf?font_face=arial&amp;bold=true&amp;font_color=FF3300&amp;bg_color=ffffff&amp;currency=cny&amp;font_size=22&amp;sign_align=right&amp;update=--------&amp;info=1&amp;casino=playtech&amp;game=mrj-1" quality="high" bgcolor="#1E1E1E" width="135" height="24" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash">
                </div>
            </div>
           <div class="jc-c l">
            	<div class="jc-cs">金土地</div>
                <div class="jc-cx">
                 <embed src="http://tickers.playtech.com/jackpots/new_jackpot.swf?font_face=arial&amp;bold=true&amp;font_color=FF3300&amp;bg_color=ffffff&amp;currency=cny&amp;font_size=22&amp;sign_align=right&amp;update=--------&amp;info=1&amp;casino=playtech&amp;game=lndg-1" quality="high" bgcolor="#1E1E1E" width="135" height="24" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash">
                </div>
            </div>
         </div> 
         
         </div> 
         <style>
.ptwebnav {
width: 775px;
padding: 10px 0 10px 0;
text-align: center;
}
.ptwebnav a.current {
font-weight: bold;
background: #9d7635;
}
.ptwebnav li {
display: inline;
}
.ptwebnav a {
color: #ccc;
font-size: 12px;
padding: 5px 8px;
border-radius: 3px;
background: #525252;
}
#pt_1{
 display:block;
}
.p-tp-hide{
display:none;
}
</style>

       
         #{doLayout /}  
         
         <script>
    $(".ptwebnav a").bind("click",function(e){
    	$(".ptwebnav a").removeAttr("class");
    	$(this).attr("class","current");
    	$(".p-tp").fadeOut(1000);
    	$("#"+$(this).attr("pt")).fadeIn(3000);
    });
</script>
                                                            
	</div>
	
